<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>Lub en ligne</title>
    {% block stylesheets %}
        <link rel="apple-touch-icon" href="{{ asset('assets/images/apple-touch-icon.png') }}" >
        <link rel="shortcut icon" href="{{ asset('logo.png') }}">


        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset('global/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('global/css/bootstrap-extend.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/site.min.css') }}?v4">

        <!-- Plugins -->
        <link rel="stylesheet" href="{{ asset('global/vendor/animsition/animsition.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/asscrollable/asScrollable.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/switchery/switchery.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/intro-js/introjs.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/slidepanel/slidePanel.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/flag-icon-css/flag-icon.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/waves/waves.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/examples/css/pages/login-v2.css') }}?v1">

        <!-- Fonts -->
        <link rel="stylesheet" href="{{ asset('global/fonts/material-design/material-design.min.css') }}">
        <link rel="stylesheet" href="{{ asset('global/fonts/brand-icons/brand-icons.min.css') }}">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    {% endblock %}
    <script src="{{ asset('global/vendor/media-match/media.match.min.js')}}"></script>
    <script src="{{ asset('global/vendor/respond/respond.min.js')}}"></script>

    <script src="{{ asset('global/vendor/breakpoints/breakpoints.js')}}"></script>
    <script>
        Breakpoints();
    </script>
    <style>
        .cookie-banner-tealium {
            position: fixed;
            left: 0;
            right: 0;
            bottom: -100%;
            z-index: 9999;
            background: #fff;
            border-top: 4px solid #DF0C36;
            padding: 20px 0 3px;
            transition: bottom .5s ease-in-out;
            box-sizing: border-box;
        }
        .cookie-banner-tealium-container {
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            padding: 0 20px;
        }
        .cookie-banner-tealium .logo-cookie-tealium {
            display: block;
            padding-bottom: 20px;
        }
        .cookie-banner-tealium .logo-cookie-tealium img {
            display: block;
        }
        .cookie-banner-tealium .data-tealium {
            display: flex;
            justify-content: space-between;
        }
        .cookie-banner-tealium .text-tealium {
            flex: 0 0 auto;
            width: calc(100% - 236px);
            color: #666;
            font: 16px/18px Arial, Helvetica, sans-serif;
        }
        .cookie-banner-tealium .btns-tealium {
            flex: 0 0 auto;
            padding: 28px 0 0 61px;
        }
        .cookie-banner-tealium .ttl-tealium {
            display: block;
            color: #666;
            font: bold 28px/32px Arial, Helvetica, sans-serif;
            margin: 0 0 13px;
        }
        .cookie-banner-tealium .text-tealium p {
            margin: 0 0 15px;
        }
        .cookieinfo-close {
            display: block;
            background: #004196;
            color: #fff;
            text-decoration: none;
            font: bold 13px/22px Arial, Helvetica, sans-serif;
            padding: 7px 15px;
        }
    </style>
</head>
<body class="animsition page-login-v2 layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Page -->
<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">

    <div class="page-content">
        <div class="page-brand-info">
        </div>

        <div class="page-login-main">

            <div class="brand">
                <img class="brand-img" src={{ asset('images/negocier-voiture.png') }} alt="..." style="height: 40px;">
                <p style="font-style: normal;font-weight: normal;font-size: 14px;line-height: 16px;color: #E4032E;display: inline-block;padding-left: 30px;">
                    Lubrifiants en Tunisie
                </p>
                <br><br>
                <img class="brand-img" src={{ asset('images/Vector.png') }} alt="..." style="float: right;">


            </div>
            <form method="post" autocomplete="off">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="form-group form-material floating" data-plugin="formMaterial">
                    <input type="email" class="form-control empty" value="{{ last_username }}" name="email" id="inputEmail" placeholder="{{ "email"|trans }}" required autofocus>
                </div>
                <div class="form-group form-material floating" data-plugin="formMaterial">
                    <input type="password" class="form-control empty" name="password" id="inputPassword" placeholder="{{ "password"|trans }}" required>
                </div>
                <div class="input-group" style="padding-top: 14px;padding-bottom: 5px;">
                    <div class="g-recaptcha" data-sitekey="6Lc5D-wUAAAAAG7zVXP608ZJNL0HncaFG7jLsj2v"></div>
                    <script type="text/javascript"
                            src="https://www.google.com/recaptcha/api.js?hl=en">
                    </script>
                </div>
                <!--<div class="input-group" style="padding-top: 14px;padding-bottom: 5px;">
                    <div class="g-recaptcha" data-sitekey="6Lc5D-wUAAAAAG7zVXP608ZJNL0HncaFG7jLsj2v"></div>
                    <script type="text/javascript"
                            src="https://www.google.com/recaptcha/api.js?hl=en">
                    </script>
                </div>
                <br>
                <div class="form-group clearfix">
                    <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                        <input type="checkbox" id="conditiongenerale" name="conditiongenerale" checked >
                        <label for="inputCheckbox">{{ "accepte"|trans }} <a style="margin-left:0px" href="{{ asset('conditiongenerale.pdf') }}"  target="_blank">{{ "cdtgenerale"|trans }}</a></label>
                    </div>
                </div>-->
                <div class="form-group clearfix">
                    <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                        <input type="checkbox" id="remember" name="checkbox">
                        <label for="inputCheckbox">{{ "Garder ma session active"|trans }}</label>
                    </div>
                    <a class="float-right" href="{{ path('app_forgot_password_request') }}">{{ "Mot de passe oublié"|trans }}?</a>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-primary btn-block" style="background-color: #F01235; border-color: #F01235">{{ "Se connecter"|trans }}</button>
            </form>




            <footer class="page-copyright">
                <p>Powered BY APP4MOB</p>
                <p>© 2021</p>
            </footer>
        </div>

    </div>
</div>

<!-- bannière cookies
<div class="cookie-banner-tealium" id="cookieinfo" style="position: fixed; left: 0px; right: 0px; height: auto; min-height: 21px; z-index: 2147483647; background: rgb(255, 255, 255); color: rgb(102, 102, 102); line-height: 21px; padding: 8px 18px; font-family: verdana, arial, sans-serif; font-size: 14px; text-align: left; bottom: 0px; opacity: 1;">
    <div class="cookie-banner-tealium-container">
        <span class="logo-cookie-tealium">
            <img id="teal-logo" src="https://demonstrateur-twf4biz.aqa.tgscloud.net/sites/g/files/wompnd766/f/styles/logo_custom/public/logo_2017-v2.png?itok=LkqyE0a1" alt="logo">
        </span>
        <div class="data-tealium">
            <div class="text-tealium">
                <strong class="ttl-tealium">Titre</strong>
                <p id="teal-explicit-paragraph">
                    Texte
                </p>
            </div>
            <div class="btns-tealium">

                <button type="button" class="b cookieinfo-close" id="cookieinfo-close" style="    display: inline;font: bold 13px/22px Arial, Helvetica, sans-serif;">J'accepte</button>

            </div>
        </div>
    </div>
</div>
-->
<!-- End Footer -->
<!-- End Page -->


<script src="{{ asset('global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
<script src="{{ asset('global/vendor/jquery/jquery.js') }}"></script>
<script src="{{ asset('global/vendor/popper-js/umd/popper.min.js') }}"></script>
<script src="{{ asset('global/vendor/bootstrap/bootstrap.js') }}"></script>
<script src="{{ asset('global/vendor/animsition/animsition.js') }}"></script>
<script src="{{ asset('global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
<script src="{{ asset('global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
<script src="{{ asset('global/vendor/ashoverscroll/jquery-asHoverScroll.js') }}"></script>
<script src="{{ asset('global/vendor/waves/waves.js') }}"></script>

<!-- Plugins -->
<script src="{{ asset('global/vendor/switchery/switchery.js') }}"></script>
<script src="{{ asset('global/vendor/intro-js/intro.js') }}"></script>
<script src="{{ asset('global/vendor/screenfull/screenfull.js') }}"></script>
<script src="{{ asset('global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
<script src="{{ asset('global/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>

<!-- Scripts -->
<script src="{{ asset('global/js/Component.js') }}"></script>
<script src="{{ asset('global/js/Plugin.js') }}"></script>
<script src="{{ asset('global/js/Base.js') }}"></script>
<script src="{{ asset('global/js/Config.js') }}"></script>

<script src="{{ asset('assets/js/Section/Menubar.js') }}"></script>
<script src="{{ asset('assets/js/Section/GridMenu.js') }}"></script>
<script src="{{ asset('assets/js/Section/Sidebar.js') }}"></script>
<script src="{{ asset('assets/js/Section/PageAside.js') }}"></script>
<script src="{{ asset('assets/js/Plugin/menu.js') }}"></script>

<script src="{{ asset('global/js/config/colors.js') }}"></script>
<script src="{{ asset('assets/js/config/tour.js') }}"></script>
<script>Config.set('assets', 'assets');</script>

<!-- Page -->
<script src="{{ asset('assets/js/Site.js') }}"></script>
<script src="{{ asset('global/js/Plugin/asscrollable.js') }}"></script>
<script src="{{ asset('global/js/Plugin/slidepanel.js') }}"></script>
<script src="{{ asset('global/js/Plugin/switchery.js') }}"></script>
<script src="{{ asset('global/js/Plugin/material.js') }}"></script>
<script>


    (function(document, window, $){
        'use strict';

        var Site = window.Site;
        $(document).ready(function(){
            Site.run();
        });
    })(document, window, jQuery);
</script>

</body>
</html>
