
{% extends 'block/layout.html.twig' %}
{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{{ "Paramètrage Devise"|trans }}</h1>
        </div>
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {{ include('parametre/devise_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



