<div class="example-wrap">

    {{ form_start(form, {'attr': {'class': 'row'}}) }}
    {% if errors|length > 0 %}
        <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {% for error in errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-4">

        </div>
    {% endif %}

    <div class="col-lg-6">
        <label>{{ "SMS réception commande pour le gérant" | trans }}</label>
        {{ form_widget(form.smsNewCommand, {'attr': {'class': 'form-control','style':'height: 200px;'}}) }}

    </div>
    <div class="col-lg-6">
        <table class="table table-striped">
            <thead>
            <tr >
                <th>{{ 'Configuration'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
            </tr>
            </thead>
            </thead>
            <tbody>
            <tr>

                <td style="vertical-align: middle;">
                    %TYPE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Type de prestation(forfait vidange/achat produit)'|trans }}
                </td>
            </tr>
            <tr>

                <td style="vertical-align: middle;">
                    %NUM%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Numéro de la commande'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %PRODUCTNAME%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Nom du produit'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %DATE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Date du RDV'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %VEHICULE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Véhicule'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %CLIENTNAME%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Nom du client'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %CLIENTPHONE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Téléphone du client'|trans }}
                </td>

            </tr>
            </tbody>
        </table>
    </div>


    <div class="col-lg-6">
        <label>{{ "SMS confirmation commande pour le client" | trans }}</label>
        {{ form_widget(form.smsConfirmCommand, {'attr': {'class': 'form-control','style':'height: 200px;'}}) }}

    </div>
    <div class="col-lg-6">
        <table class="table table-striped">
            <thead>
            <tr >
                <th>{{ 'Configuration'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
            </tr>
            </thead>
            </thead>
            <tbody >
            <tr>

                <td style="vertical-align: middle;">
                    %TYPE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Type de prestation(forfait vidange/achat produit)'|trans }}
                </td>
            </tr>
            <tr>

                <td style="vertical-align: middle;">
                    %NUM%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Numéro de la commande'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %PRODUCTNAME%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Nom du produit'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %DATE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Date du RDV'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %STATION%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Station'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %QRCODE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Qrcode'|trans }}
                </td>
            </tr>

            </tbody>
        </table>
    </div>





    <div class="col-lg-6" style="margin-top:35px">
        <label>{{ "SMS Rappel RDV à H-2 pour client" | trans }}</label>
        {{ form_widget(form.smsRdvClient, {'attr': {'class': 'form-control','style':'height: 200px;'}}) }}

    </div>
    <div class="col-lg-6" style="margin-top:35px">
        <table class="table table-striped">
            <thead>
            <tr >
                <th>{{ 'Configuration'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
            </tr>
            </thead>
            </thead>
            <tbody >
            <tr>

                <td style="vertical-align: middle;">
                    %HOUR%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Heure du RDV'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %STATION%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'STATION'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %PHONE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Téléphone du station'|trans }}
                </td>
            </tr>
            </tbody>
        </table>

    </div>


    <div class="col-lg-6" style="margin-top:35px">
        <label>{{ "SMS Rappel RDV à H-2 pour gérant" | trans }}</label>
        {{ form_widget(form.smsRdvManager, {'attr': {'class': 'form-control','style':'height: 200px;'}}) }}

    </div>
    <div class="col-lg-6" style="margin-top:35px">
        <table class="table table-striped">
            <thead>
            <tr >
                <th>{{ 'Configuration'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
            </tr>
            </thead>
            </thead>
            <tbody >


            <tr>
                <td style="vertical-align: middle;">
                    %PRODUCTNAME%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Nom du produit'|trans }}
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">
                    %VEHICULE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Véhicule'|trans }}
                </td>
            </tr>

            <tr>

                <td style="vertical-align: middle;">
                    %HOUR%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Heure du RDV'|trans }}
                </td>
            </tr>



            <tr>
                <td style="vertical-align: middle;">
                    %CLIENTNAME%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Nom du client'|trans }}
                </td>
            </tr>

            <tr>
                <td style="vertical-align: middle;">
                    %CLIENTPHONE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Téléphone du client'|trans }}
                </td>

            </tr>
            </tbody>
        </table>

    </div>


    <div class="col-lg-6" style="margin-top:35px">
        <label>{{ "SMS au client après prestation (le lendemain)" | trans }}</label>
        {{ form_widget(form.smsCommandNextDay, {'attr': {'class': 'form-control','style':'height: 200px;'}}) }}

    </div>
    <div class="col-lg-6" style="margin-top:35px">
        <table class="table table-striped">
            <thead>
            <tr >
                <th>{{ 'Configuration'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
            </tr>
            </thead>
            </thead>
            <tbody >
            <tr>
                <td style="vertical-align: middle;">
                    %STATION%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Station'|trans }}
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">
                    %VEHICULE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Véhicule'|trans }}
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">
                    %URL%
                </td>
                <td style="vertical-align: middle;">
                    {{ "Lien d'évaluation"|trans }}
                </td>

            </tr>
            </tbody>
        </table>
    </div>


    <div class="col-lg-6" style="margin-top:35px">
        <label>{{ "SMS rappel de vidange (après 5 mois)" | trans }}</label>
        {{ form_widget(form.smsRappelVidange, {'attr': {'class': 'form-control','style':'height: 200px;'}}) }}

    </div>
    <div class="col-lg-6" style="margin-top:35px">
        <table class="table table-striped">
            <thead>
            <tr >
                <th>{{ 'Configuration'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
            </tr>
            </thead>
            </thead>
            <tbody >

            <tr>
                <td style="vertical-align: middle;">
                    %VEHICULE%
                </td>
                <td style="vertical-align: middle;">
                    {{ 'Véhicule'|trans }}
                </td>
            </tr>


            </tbody>
        </table>
    </div>
    <div class="col-lg-12 text-center">
        <button style="margin-top: 3px;" class="float-right btn btn-md social-evernote waves-effect waves-classic">
            {{ "Enregistrer" | trans }}
        </button>
    </div>
    {{ form_end(form) }}
    <br>
</div>

