<div class="example-wrap">

    {{ form_start(form, {'attr': {'class': 'row'}}) }}
    {% if errors|length > 0 %}
        <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {% for error in errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-4">

        </div>
    {% endif %}

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Nom" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-8 col-md-8">
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>
    {%  if form.stations is defined %}
        <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
            <label>{{ "Stations" | trans }}<span style="color: #ed1a3b">*</span></label>
        </div>
        <div class="offset-lg-2 col-lg-8 col-md-8">
            {{ form_widget(form.stations, {'attr': {'class': ''}}) }}
        </div>
        <br><br>

    {% endif %}
    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Description" | trans }}</label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.description, {'attr': {'class': 'form-control','style':'height: 200px;'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Image" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    {% if offer.image %}
        <div class="offset-lg-2 col-lg-2" style="padding-top: 20px;">
            <img src="{{ asset('uploads/images/') }}{{ offer.image }}" alt="..."
                 style="position: relative;display: inline-block;width: 120px;white-space: nowrap;vertical-align: bottom;">
        </div>
    {% endif %}
    <div class=" {% if  offer.image == null %}offset-lg-2  col-lg-8 {% else %} col-lg-6{% endif %} text-center">
        {{ form_widget(form.image, {'attr': {'id': 'input-file-now', 'data-plugin':'dropify','data-default-file': '','style' : 'max-height: 100px;max-width:300px'}}) }}
    </div>

    <br><br>

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Produit" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.product, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Prestations Incluses" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.prestations, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
        <label>{{ "Prix" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>

    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
        <label>{{ "Prix Promo" | trans }}</label>
    </div>

    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.pricePromo, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
        <label>{{ "Quantité" | trans }}</label>
    </div>

    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>
    <div class="col-lg-12" style="padding-top: 20px;">
        <div class="row row-lg">
            <div class="col-lg-2 text-left">
            </div>
            <div class="col-lg-8  ">
                <div class="checkbox-custom checkbox-primary center-block">
                    {{ form_widget(form.isPromo, {'attr': {'class': 'form-control'}}) }}
                    <label for="inputChecked">{{ 'Est Promo ?'|trans }}</label>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="col-lg-12" style="padding-top: 20px;">
        <div class="row row-lg">
            <div class="col-lg-2 text-left">
            </div>
            <div class="col-lg-8  ">
                <div class="checkbox-custom checkbox-primary center-block">
                    {{ form_widget(form.isActive, {'attr': {'class': 'form-control'}}) }}
                    <label for="inputChecked">{{ 'Est Active ?'|trans }}</label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-lg-12 text-center">
        <a href="{{ path('offer_index') }}" type="button" style="margin-top: 3px;"
           class="float-left btn btn-md btn-default waves-effect waves-classic">
            <i class="icon md-arrow-left" aria-hidden="true"></i>
            {{ "Annuler" | trans }}
        </a>
        <button style="margin-top: 3px;" class="float-right btn btn-md social-evernote waves-effect waves-classic">
            {{ "Enregistrer" | trans }}
        </button>
    </div>
    {{ form_end(form) }}
    <br>
</div>


