{% extends 'block/layout.html.twig' %}

{% block page %}

    <div class="page">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-title">{{ "Gestion des offres" | trans }} </h1>
                </div>

                <div class="col-lg-6">
                    <a href="{{ path('offer_new' , {'keyword': keyword }) }}"
                       class="float-right btn btn-sm social-evernote waves-effect waves-classic">
                        <i class="icon md-plus" aria-hidden="true"></i>{{ "Ajouter" | trans }}
                    </a>

                    <div class="media-body text-center float-right" style="padding-right: 25px;">
                        <h4 class="mt-0 mb-5"
                            style="color: #f02138;margin-bottom: 0px!important;"> {{ offers.getTotalItemCount }}</h4>
                        <small style="">{{ "offre(s)" | trans }}</small>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Modal -->
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr style="border-bottom: 1px solid #f3f3f3;">
                                    <th style="border: none;padding-left: 20px;">{{ "filtre" | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;padding: 0px 20px;">
                                        <form id="myform" class="row" style="align-items: center;max-width: 1520px;"
                                              action="" method="get">
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Numéro" | trans }}</label>
                                                <input type="text" class="form-control" name="id"
                                                       value="{{ id }}" placeholder="...">
                                            </div>
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Mot clé" | trans }}</label>
                                                <input type="text" class="form-control" name="keyword"
                                                       value="{{ keyword }}" placeholder="...">
                                            </div>
                                            {% if app.user.hasRole("ROLE_ADMIN") %}
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                    <label class="control-label">{{ "Station" | trans }}</label>
                                                    <select class="form-control" name="station">
                                                        <option value="">{{ "choisir une station" | trans }}</option>
                                                        {% for item in stations %}
                                                            <option class="dropdown-item"
                                                                    value="{{ item.id }}" {% if  item.id == station %} selected {% endif %}>
                                                                {{ item.name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>

                                            </div>
                                            {% endif %}
                                            <div class="{% if app.user.hasRole("ROLE_ADMIN") %}col-lg-3  col-md-3 col-xs-3{% else %}col-lg-6  col-md-6 col-xs-6  {% endif %}text-right">
                                                <button type="button" id="search" style="margin-top: 24px "
                                                        class="btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon md-search" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" id="export" style="margin-top: 24px "
                                                        class="btn btn-icon waves-effect waves-classic btn-bleu-background">
                                                    <i class="icon md-file-text" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </form>
                                        <script>
                                            $('#search').click(function () {
                                                $('#myform').attr('action', "{{ path('offer_index') }}");
                                                document.getElementById("myform").submit();
                                            });
                                            $('#export').click(function () {
                                                $('#myform').attr('action', "{{ path('offer_export') }}");
                                                document.getElementById("myform").submit();
                                            });
                                        </script>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
        <div class="page-content" style="padding-top: 0px ">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"
                     style="padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    <th style="padding-left: 20px;width: 5%">{{ 'N°'|trans }}</th>
                                    <th style="width: 10%">{{ 'Image'|trans }}</th>
                                    <th style="width: 10%">{{ 'Nom'|trans }}</th>
                                    <th style="width: 10%">{{ 'Prix'|trans }}</th>
                                    <th style="width: 15%">{{ 'Produit'|trans }}</th>
                                    <th style="width: 15%">{{ 'Description'|trans }}</th>
                                    {% if app.user.hasRole("ROLE_ADMIN") %}
                                        <th style="width: 10%">{{ 'Stations'|trans }}</th>
                                    {% endif %}

                                    <th style="width: 5%">{{ 'Est Promo ?'|trans }}</th>
                                    <th style="width: 5%">{{ 'Est Active ?'|trans }}</th>
                                    <th class="text-center"
                                        style="padding-right: 20px;width: 15%">{{ 'actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for offer in offers %}
                                    <tr>

                                        <td style="padding-left: 20px;vertical-align: middle;">
                                            {{ offer.id }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {% if offer.image %}
                                                <img style="width: 100%;height: auto;"
                                                     src="{{ asset('uploads/images/') }}{{ offer.image }}">
                                            {% endif %}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ offer.name }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {% if offer.isPromo %}
                                                <span class=""> {{ offer.pricePromo|number_format(3, '.', ',') }}
                                                    {% if parametre and parametre.devise %}
                                                    {{ parametre.devise }}
                                                    {% else %}
                                                        TND
                                                    {% endif %}
                                                </span>
                                                <span class="old-price"> {{ offer.price|number_format(3, '.', ',') }}
                                                    {% if parametre and parametre.devise %}
                                                        {{ parametre.devise }}
                                                    {% else %}
                                                        TND
                                                    {% endif %}
                                                </span>
                                            {% else %}
                                                <span class=""> {{ offer.price|number_format(3, '.', ',') }}
                                                    {% if parametre and parametre.devise %}
                                                        {{ parametre.devise }}
                                                    {% else %}
                                                        TND
                                                    {% endif %}
                                                </span>
                                            {% endif %}

                                        </td>
                                        <td style="vertical-align: middle;">

                                            {{ offer.product.name }}
                                        </td>

                                        <td style="vertical-align: middle;">
                                            {{ offer.description }}
                                        </td>

                                        {% if app.user.hasRole("ROLE_ADMIN") %}
                                            <td style="vertical-align: middle;">
                                                <ul style="padding-left: 0px">
                                                    <span class="badge badge-outline badge-dark">{{ offer.stations|length }}</span>


                                                </ul>
                                            </td>
                                        {% endif %}

                                        <td style="vertical-align: middle;">
                                            {% if offer.isPromo %}
                                                <i style="font-size: 20px;color: #66bb6a;" class="icon md-check"
                                                   aria-hidden="true"></i>
                                            {% else %}
                                                <i style="font-size: 20px;color: #f01235;" class="icon md-close"
                                                   aria-hidden="true"></i>

                                            {% endif %}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {% if offer.isActive %}
                                                <i style="font-size: 20px;color: #66bb6a;" class="icon md-check"
                                                   aria-hidden="true"></i>
                                            {% else %}
                                                <i style="font-size: 20px;color: #f01235;" class="icon md-close"
                                                   aria-hidden="true"></i>

                                            {% endif %}
                                        </td>


                                        <td class="text-right"
                                            style="padding-right: 20px;min-width: 110px;vertical-align: middle;">
                                            {% if app.user.hasRole("ROLE_ADMIN") %}
                                                <a href="{{ path('offer_edit',{'keyword': keyword,'id':offer.id}) }}"
                                                   class="btn  waves-effect waves-classic md-edit btn-bleu"
                                                   style="border: 1px solid;"></a>
                                            {% endif %}
                                            <button type="button"
                                                    data-toggle="modal" data-target="#centerModaldelete{{ offer.id }}"
                                                    class="btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                    style="color: #f02038;border: 1px solid;"></button>
                                            {#
                                            <button type="button"
                                                    data-toggle="modal" data-target="#leftModalDetails{{ offer.id }}"
                                                    class="btn  btn-pure btn-success  md-plus waves-effect waves-classic"
                                                    style="border: 1px solid;"></button>
                                                    #}
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="centerModaldelete{{ offer.id }}"
                                         aria-labelledby="centerModal" role="dialog"
                                         tabindex="-1">
                                        <div class="modal-dialog modal-primary modal-center modal-lg"
                                             style="width: 50%;">
                                            <div class="modal-content" style="height: 200px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"
                                                            style="margin: -12px -10px -15px auto;opacity: 1; ">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title">{{ 'Suppression Offre'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <h4 class="modal-title">{{ 'Voulez vous supprimer cette offre? '|trans }}</h4>
                                                        </div>

                                                        <div class="col-lg-12" style="padding-top: 40px;">
                                                            <a href="{{ path('offer_delete',{'keyword': keyword,'id':offer.id}) }}"
                                                               class="float-right btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                               style="color: #f02038;border: 1px solid;">
                                                                {{ 'Supprimer'|trans }}
                                                            </a>
                                                            <button type="button"
                                                                    class="float-left btn btn-md btn-default waves-effect waves-classic"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                {{ 'Annuler'|trans }}
                                                            </button>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="leftModalDetails{{ offer.id }}"
                                         aria-labelledby="leftModal" role="dialog"
                                         tabindex="-1">
                                        <div class="modal-dialog modal-simple modal-sidebar modal-lg"
                                             style="width: 60%;">
                                            <div class="modal-content" style="height: 100%;">
                                                <div class="modal-body" id="modalContent" style="padding: 0px">
                                                    <div class="row">
                                                        <div class="col-lg-12 text-right"
                                                             style="margin-bottom: 10px;background: #F2F2F2;    padding: 20px 20px 20px 20px;">
                                                            {% if app.user.hasRole("ROLE_ADMIN") %}
                                                            <a href="{{ path('offer_edit',{'keyword': keyword,'id':offer.id}) }}"
                                                               class="btn  waves-effect waves-classic md-edit btn-bleu"
                                                               style="padding: 6.5px 9px;margin-right: 7px;color: #4A96D2;box-shadow: 0px 0px 6px rgb(0 0 0 / 7%);border-radius: 6px;background: #ffffff;">{{ 'Modifier'|trans }}</a>
                                                            {% endif %}
                                                            <button type="button"
                                                                    class="close   waves-effect waves-classic  btn-bleu"
                                                                    style="opacity: 1;color: #ffffff;
                                                                    box-shadow: 0px 0px 6px rgb(0 0 0 / 7%);
                                                                    border-radius: 6px;background: #4A96D2;
                                                                    padding: 1px 9px;
                                                                    position: unset;" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true"
                                                                      style="font-size: 35px;font-weight: 300;">×</span>
                                                            </button>

                                                        </div>

                                                        <div class="col-lg-12" style="padding: 0 35px;">
                                                            <span class="title2">
                                                                {{ offer.name }}
                                                            </span><br><br>
                                                            {% if offer.isPromo %}
                                                                <span class="old-price"> {{ offer.price|number_format(3, '.', ',') }}
                                                                    {% if parametre and parametre.devise %}
                                                                        {{ parametre.devise }}
                                                                    {% else %}
                                                                        TND
                                                                    {% endif %}
                                                                </span>

                                                                <span class="new-price"> {{ offer.pricePromo|number_format(3, '.', ',') }}
                                                                    {% if parametre and parametre.devise %}
                                                                        {{ parametre.devise }}
                                                                    {% else %}
                                                                        TND
                                                                    {% endif %}
                                                                </span><br>
                                                            {% else %}
                                                                <span class="new-price"> {{ offer.price|number_format(3, '.', ',') }}
                                                                    {% if parametre and parametre.devise %}
                                                                        {{ parametre.devise }}
                                                                    {% else %}
                                                                        TND
                                                                    {% endif %}
                                                                </span>
                                                            {% endif %}
                                                            <br><br>
                                                            {% if offer.image %}
                                                                <img style="width: 100px;height: auto;"
                                                                     src="{{ asset('uploads/images/') }}{{ offer.image }}">
                                                            {% endif %}
                                                            <br><br>
                                                            {%  if app.user.hasRole("ROLE_ADMIN") %}
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <span class="title1">{{ 'Stations'|trans }}</span>
                                                                </div>
                                                                <div class="col-lg-9">
                                                                    {% for station in offer.stations %}
                                                                        <span class="badge badge-outline badge-dark">{{ station.name }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                            {% endif %}
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <span class="title1">{{ 'Prestations'|trans }}</span>
                                                                </div>
                                                                <div class="col-lg-9">
                                                                    {% for prestation in offer.prestations %}
                                                                        <span class="badge badge-outline badge-default">{{ prestation.name }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                            <div class="row" style="border-bottom: 1px solid #D1D1D1;">
                                                                <div class="col-lg-12">
                                                                    <span class="title1">{{ 'Produit'|trans }}</span>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    {% if offer.product.image %}
                                                                        <img style="width: 100px;height: auto;"
                                                                             src="{{ asset('uploads/images/') }}{{ offer.product.image }}">
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-lg-9">
                                                                    <span>{{ offer.product.name }}</span>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                            <div class="row" style="border-bottom: 1px solid #D1D1D1;">
                                                                <div class="col-lg-12">
                                                                    <span class="title1">{{ 'Description'|trans }}</span>
                                                                </div>
                                                            </div>
                                                            <span class="title1" style="padding-top: 10px;">{{ offer.description }}</span>
                                                            <br><br>
                                                            <div class="row" style="border-bottom: 1px solid #D1D1D1;">
                                                                <div class="col-lg-12">
                                                                    <span class="title1">{{ 'Fiche Technique'|trans }}</span>
                                                                </div>
                                                            </div>
                                                            {% if offer.product.file %}
                                                                <a class="title3" style="padding-top: 10px;"
                                                                   href=  {{ asset('uploads/files/') }}{{ offer.product.file }}
                                                                   target="_blank"><i class="icon md-file-text" aria-hidden="true"></i> {{ 'Cliquez Ici'|trans }}</a>
                                                            {% else %}
                                                                <span class="title3"
                                                                      style="padding-top: 10px;">{{ 'Aucune'|trans }}</span>
                                                            {% endif %}
                                                        </div>


<style>
    .title1{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;color: #00234B;
    }
    .title2{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */


        color: #00234B;
    }
</style>







                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <tr>
                                        <td style="padding-left: 20px" colspan="8">{{ "noRecordsFound" | trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation" style="display: grid;place-items: end;padding-right: 10px;">
                                {{ knp_pagination_render(offers) }}
                            </div>
                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



