{% extends 'block/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('global/vendor/dropify/dropify.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>

{% endblock  %}
{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{{ "Nouvelle Offre"|trans }}</h1>
        </div>
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {{ include('offer/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="{{ asset('global/vendor/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-tmpl/tmpl.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-canvas-to-blob/canvas-to-blob.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-load-image/load-image.all.min.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-process.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-audio.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-video.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-validate.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-ui.js') }}"></script>
    <script src="{{ asset('global/vendor/dropify/dropify.min.js') }}"></script>

    <script src="{{ asset('global/js/Plugin/dropify.js') }}"></script>
    <script src="{{ asset('assets/examples/js/forms/uploads.js') }}"></script>
    <script src="{{ asset('global/js/Plugin/input-group-file.js')}}"></script>
{% endblock  %}

