<h3>Bonjour {{ user.username }}</h3>

<p>Vous avez perdu votre mot de passe Lub En Ligne? Mais ne vous inquiétez pas !
    Vous pouvez utiliser le bouton suivant pour réinitialiser votre mot de passe : </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}" style="margin-top: 40px;background-color: #3f51b5;
    border-color: #3f51b5;box-shadow: none;color: #fff;padding: .429rem 1.072rem;font-size: 1rem;
    font-weight: 300;line-height: 1.57142857;text-align: center;white-space: nowrap;vertical-align: middle;
    user-select: none;border: 1px solid transparent;border-radius: .215rem;text-decoration: none;">
    Réinitialisez votre mot de passe
</a>

<p>Si vous n'utilisez pas ce lien dans
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
    heure, il expirera. Pour obtenir un nouveau lien de réinitialisation de mot de passe, visitez
    : {{ url('app_forgot_password_request') }}

</p>

<p>Merci,
    L'équipe TotalEnergies.</p>

