<h3>Bonjour {{ user.username }}</h3>

<p>Vous avez perdu ou oublié votre mot de passe du site
    <a href="https://lub-online-front.app4mob.net/" target="_blank" style="color: #ED0000">www.mavidange.tn </a>
    ? </p>
<p>Ne vous inquiétez pas ! Vous pouvez utiliser le bouton suivant pour réinitialiser votre mot de passe :
</p>
<a href="http://lub-online-front.app4mob.net/#/reset_password?token={{ resetToken.token }}" style="margin-top: 40px;background-color: #3f51b5;
    border-color: #3f51b5;box-shadow: none;color: #fff;padding: .429rem 1.072rem;font-size: 1rem;
    font-weight: 300;line-height: 1.57142857;text-align: center;white-space: nowrap;vertical-align: middle;
    user-select: none;border: 1px solid transparent;border-radius: .215rem;text-decoration: none;">
    Réinitialisez votre mot de passe
</a>

<p>Ce lien expirera d’ici {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
    heure. Pour obtenir un nouveau lien de réinitialisation de mot de passe, visitez :
    <a href="https://lub-online-front.app4mob.net/" target="_blank" style="color: #ED0000">www.mavidange.tn </a>
    et cliquer sur mot de passe oublié
</p>

<p>Merci, L'équipe TotalEnergies Tunisie.</p>





