


<html class="no-js css-menubar" lang="en" data-lt-installed="true">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>Lub en ligne</title>

    <link rel="apple-touch-icon" href="{{ asset('assets/images/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ asset('logo.png') }}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('global/css/bootstrap.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="{{ asset('global/css/bootstrap-extend.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/site.min.css?v4.0.1') }}">

    <!-- Skin tools (demo site only) -->
    <link rel="stylesheet" href="{{ asset('global/css/skintools.min.css?v4.0.1') }}">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="{{ asset('assets/js/Plugin/skintools.min.js?v4.0.1') }}"></script>

    <!-- Plugins -->
    <link rel="stylesheet" href="{{ asset('global/vendor/animsition/animsition.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="{{ asset('global/vendor/asscrollable/asScrollable.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="{{ asset('global/vendor/switchery/switchery.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="{{ asset('global/vendor/intro-js/introjs.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="{{ asset('global/vendor/slidepanel/slidePanel.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="{{ asset('global/vendor/flag-icon-css/flag-icon.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="{{ asset('global/vendor/waves/waves.min.css?v4.0.1') }}">

    <!-- Page -->
    <link rel="stylesheet" href="{{ asset('assets/examples/css/pages/forgot-password.min.css?v4.0.1') }}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('global/fonts/material-design/material-design.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="{{ asset('global/fonts/brand-icons/brand-icons.min.css?v4.0.1') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700">


    <!--[if lt IE 9]>
    <script src="{{ asset('global/vendor/html5shiv/html5shiv.min.js?v4.0.1') }}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{{ asset('global/vendor/media-match/media.match.min.js?v4.0.1') }}"></script>
    <script src="{{ asset('global/vendor/respond/respond.min.js?v4.0.1') }}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{{ asset('global/vendor/breakpoints/breakpoints.min.js?v4.0.1') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition page-forgot-password layout-full" style="animation-duration: 800ms; opacity: 1;">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Page -->
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
        <h2>{{ "Mot de passe oublié" | trans }}</h2>
        {% set formErrors = resetForm.vars.errors.form.getErrors(true) %}

        {# If there are errors in the form, display them in this unorganized list #}
        {% if formErrors|length %}

            {% for error in formErrors %}
                <div class="alert alert-danger" role="alert">{{ error.message }}</div>
            {% endfor %}

        {% endif %}
        <form method="post" role="form" autocomplete="off">
            <div class="form-group form-material floating" data-plugin="formMaterial" style="    text-align: left;">
                {{ form_start(resetForm) }}


                <div class="col-lg-12">

                </div>

                <div class="col-lg-12">
                    <label style="margin-bottom:0">{{ "Mot de Passe" | trans }}<span style="color: #ed1a3b">*</span></label>
                    {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control', 'value':""}}) }}

                </div>

                <div class="col-lg-12" style="padding-top: 20px;">
                    <label style="margin-bottom:0">{{ "Confirmer Mot de Passe" | trans }}<span style="color: #ed1a3b">*</span></label>
                    {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control', 'value': '' }}) }}
                </div>




                <button type="submit"  style="margin-top: 40px;" class="btn btn-primary btn-block waves-effect waves-light waves-round">
                    Réinitialisez votre mot de passe
                </button>

                {{ form_end(resetForm) }}
            </div>

        </form>


    </div>
</div>
<!-- End Page -->


<!-- Core  -->
<script src="{{ asset('global/vendor/babel-external-helpers/babel-external-helpers.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/jquery/jquery.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/popper-js/umd/popper.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/bootstrap/bootstrap.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/animsition/animsition.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/mousewheel/jquery.mousewheel.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/asscrollbar/jquery-asScrollbar.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/asscrollable/jquery-asScrollable.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/ashoverscroll/jquery-asHoverScroll.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/waves/waves.min.js?v4.0.1') }}"></script>

<!-- Plugins -->
<script src="{{ asset('global/vendor/switchery/switchery.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/intro-js/intro.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/screenfull/screenfull.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/vendor/slidepanel/jquery-slidePanel.min.js?v4.0.1') }}"></script>

<!-- Scripts -->
<script src="{{ asset('global/js/State.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/js/Component.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/js/Plugin.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/js/Base.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/js/Config.min.js?v4.0.1') }}"></script>

<script src="{{ asset('assets/js/Section/Menubar.min.js?v4.0.1') }}"></script>
<script src="{{ asset('assets/js/Section/Sidebar.min.js?v4.0.1') }}"></script>
<script src="{{ asset('assets/js/Section/PageAside.min.js?v4.0.1') }}"></script>
<script src="{{ asset('assets/js/Plugin/menu.min.js?v4.0.1') }}"></script>

<!-- Config -->
<script src="{{ asset('global/js/config/colors.min.js?v4.0.1') }}"></script>
<script src="{{ asset('assets/js/config/tour.min.js?v4.0.1') }}"></script>


<!-- Page -->
<script src="{{ asset('assets/js/Site.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/js/Plugin/asscrollable.min.js?v4.0.1') }}"></script>

<script src="{{ asset('global/js/Plugin/slidepanel.min.js?v4.0.1') }}"></script>
<script src="{{ asset('global/js/Plugin/switchery.min.js?v4.0.1') }}"></script>

<script src="{{ asset('global/js/Plugin/material.min.js?v4.0.1') }}"></script>




</body>
</html>
