<div class="example-wrap">

    {{ form_start(form, {'attr': {'class': 'row'}}) }}
    {% if errors|length > 0 %}
        <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {% for error in errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-4">

        </div>
    {% endif %}
    <div class="col-lg-12" style="padding-top: 20px;">
        <div class="row row-lg">
            <div class="col-lg-2 text-left">
            </div>
            <div class="col-lg-8  ">
                <div class="checkbox-custom checkbox-primary center-block">
                    {{ form_widget(form.isOilChange, {'attr': {'class': 'form-control'}}) }}
                    <label for="inputChecked">{{ 'Oil Change ?'|trans }}</label>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="offset-lg-2 col-lg-8"
         style="border: 1px solid #DCDCDC;box-sizing: border-box;border-radius: 4px;    padding: 0px 45px;    margin-bottom: 50px;">


        <div class="row" style="padding-top: 20px;">
            <label>{{ "Heures" | trans }}<span style="color: #ed1a3b">*</span></label>
        </div>
        <div class="row">
            {{ form_widget(form.horaires, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="checkbox-custom checkbox-primary center-block">
                {{ form_widget(form.isClosedSunday, {'attr': {'class': 'form-control'}}) }}
                <label for="inputChecked">{{ 'la station est fermée les dimanches ?'|trans }}</label>
            </div>

        </div>

    </div>

    <div class="col-lg-12 text-center">
        <button style="margin-top: 3px;" class="float-right btn btn-md social-evernote waves-effect waves-classic">
            {{ "Enregistrer" | trans }}
        </button>
    </div>
    {{ form_end(form) }}
    <br>
</div>

