<form method="post" action="{{ path('prestation_station_delete', {'id': prestation_station.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestation_station.id) }}">
    <button class="btn">Delete</button>
</form>
