{% extends 'base.html.twig' %}

{% block title %}Edit PrestationStation{% endblock %}

{% block body %}
    <h1>Edit PrestationStation</h1>

    {{ include('prestation_station/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prestation_station_index') }}">back to list</a>

    {{ include('prestation_station/_delete_form.html.twig') }}
{% endblock %}
