
{% extends 'block/layout.html.twig' %}

{% block page %}

    <div class="page">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-title">{{ "Mes prestations" | trans }}</h1>
                </div>

                <div class="col-lg-6">
                    <div class="media-body text-center float-right" style="padding-right: 25px;">
                        <h4 class="mt-0 mb-5"
                            style="color: #f02138;margin-bottom: 0px!important;"> {{ prestation_stations.getTotalItemCount }}</h4>
                        <small style="">{{ "prestation(s)" | trans }}</small>
                    </div>
                </div>
            </div>

        </div>
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr style="border-bottom: 1px solid #f3f3f3;">
                                    <th style="border: none;padding-left: 20px;">{{ "filtre" | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;padding: 0px 20px;">
                                        <form id="myform" class="row" style="align-items: center;max-width: 1520px;"
                                              action="" method="get">
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Mot clé" | trans }}</label>
                                                <input type="text" class="form-control" name="keyword"
                                                       value="{{ keyword }}" placeholder="...">
                                            </div>

                                            <div class="col-lg-9  col-md-9 col-xs-9 text-right">
                                                <button type="button" id="search" style="margin-top: 24px "
                                                        class="btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon md-search" aria-hidden="true"></i>
                                                </button>

                                            </div>
                                        </form>
                                        <script>
                                            $('#search').click(function () {
                                                $('#myform').attr('action', "{{ path('prestation_index') }}");
                                                document.getElementById("myform").submit();
                                            });
                                        </script>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
        <div class="page-content" style="padding-top: 0px ">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"
                     style="padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('errors') %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    <th style="padding-left: 20px;">{{ 'Nom'|trans }}</th>
                                    <th class="text-center"
                                        style="padding-right: 20px;width: 15%">{{ 'actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for prestation_station in prestation_stations %}
                                    <tr>

                                        <td  style="padding-left: 20px;vertical-align: middle;">
                                            {% if prestation_station.prestation.icon %}
                                                <img style="width: 24px;height: auto;" src="{{ asset('uploads/images/') }}{{ prestation_station.prestation.icon }}">
                                            {% endif %}
                                            {{ prestation_station.prestation.name }}
                                        </td>

                                        <td class="text-right"
                                            style="padding-right: 20px;min-width: 110px;vertical-align: middle;">
                                                <button type="button"
                                                        data-toggle="modal"
                                                        data-target="#centerModaldelete{{ prestation_station.id }}"
                                                        class="btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                        style="color: #f02038;border: 1px solid;"></button>

                                        </td>
                                    </tr>
                                    <div class="modal fade" id="centerModaldelete{{ prestation_station.id }}"
                                         aria-labelledby="centerModal" role="dialog"
                                         tabindex="-1">
                                        <div class="modal-dialog modal-primary modal-center modal-lg"
                                             style="width: 50%;">
                                            <div class="modal-content" style="height: 200px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"
                                                            style="margin: -12px -10px -15px auto;opacity: 1; ">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title">{{ 'Suppression Prestation'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <h4 class="modal-title">{{ 'Voulez vous supprimer cette prestation? '|trans }}</h4>
                                                        </div>

                                                        <div class="col-lg-12" style="padding-top: 40px;">
                                                            <a href="{{ path('prestation_station_delete',{'keyword': keyword,'id':prestation_station.id}) }}"
                                                               class="float-right btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                               style="color: #f02038;border: 1px solid;">
                                                                {{ 'Supprimer'|trans }}
                                                            </a>
                                                            <button type="button"
                                                                    class="float-left btn btn-md btn-default waves-effect waves-classic"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                {{ 'Annuler'|trans }}
                                                            </button>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}
                                    <tr>
                                        <td style="padding-left: 20px" colspan="7">{{ "noRecordsFound" | trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation" style="display: grid;place-items: end;padding-right: 10px;">
                                {{ knp_pagination_render(prestation_stations) }}
                            </div>
                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
