{% extends 'base.html.twig' %}

{% block title %}New PrestationStation{% endblock %}

{% block body %}
    <h1>Create new PrestationStation</h1>

    {{ include('prestation_station/_form.html.twig') }}

    <a href="{{ path('prestation_station_index') }}">back to list</a>
{% endblock %}
