{% extends 'base.html.twig' %}

{% block title %}PrestationStation{% endblock %}

{% block body %}
    <h1>PrestationStation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation_station.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prestation_station_index') }}">back to list</a>

    <a href="{{ path('prestation_station_edit', {'id': prestation_station.id}) }}">edit</a>

    {{ include('prestation_station/_delete_form.html.twig') }}
{% endblock %}
