{% extends 'block/layout.html.twig' %}

{% block page %}

    <div class="page">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-title">{{ "Commandes Incomplètes" | trans }} </h1>
                </div>

                <div class="col-lg-6">

                    <div class="media-body text-center float-right" style="padding-right: 25px;">
                        <h4 class="mt-0 mb-5"
                            style="color: #f02138;margin-bottom: 0px!important;"> {{ commandes.getTotalItemCount }}</h4>
                        <small style="">{{ "commande(s)" | trans }}</small>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Modal -->
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr style="border-bottom: 1px solid #f3f3f3;">
                                    <th style="border: none;padding-left: 20px;">{{ "filtre" | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;padding: 0px 20px;">
                                        <form id="myform" class="row" style="align-items: center;max-width: 1520px;"
                                              action="" method="get">
                                            <div class="col-lg-6  col-md-6 col-xs-12">
                                                <label class="control-label">{{ 'date'|trans }} </label>
                                                <div class="input-daterange" data-plugin="datepicker">
                                                    <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="icon md-calendar" aria-hidden="true"></i>
                                                                </span>
                                                        <input autocomplete="off" type="text" class="form-control"
                                                               name="dateDebut"
                                                               value="{% if dateDebut is defined  and dateDebut !='' %}{{ dateDebut }}{% endif %}"/>
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">{{ 'to'|trans }}</span>
                                                        <input autocomplete="off" type="text" class="form-control"
                                                               name="dateFin"
                                                               value="{% if dateFin  is defined and dateFin !='' %}{{ dateFin }}{% endif %}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Client" | trans }}</label>
                                                <input type="text" class="form-control" name="client"
                                                       value="{{ client }}"
                                                       placeholder="{{ "nom/email/tel" | trans }}">
                                            </div>
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Produit" | trans }}</label>
                                                <select class="form-control" name="product">
                                                    <option value="">{{ "choisir un produit" | trans }}</option>
                                                    {% for item in products %}
                                                        <option class="dropdown-item"
                                                                value="{{ item.id }}" {% if  item.id == product %} selected {% endif %}>
                                                            {{ item.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Offre" | trans }}</label>
                                                <select class="form-control" name="offer">
                                                    <option value="">{{ "choisir une offre" | trans }}</option>
                                                    {% for item in offers %}
                                                        <option class="dropdown-item"
                                                                value="{{ item.id }}" {% if  item.id == offer %} selected {% endif %}>
                                                            {{ item.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="{% if app.user.hasRole("ROLE_ADMIN") %}
                                            col-lg-2  col-md-2 col-xs-2{% else %}col-lg-3  col-md-3 col-xs-3{% endif %}">
                                                <label class="control-label">{{ "Vehicule" | trans }}</label>
                                                <input type="text" class="form-control" name="vehicule"
                                                       value="{{ vehicule }}"
                                                       placeholder="{{ "vehicule" | trans }}">
                                            </div>
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Prestations" | trans }}</label>
                                                <select class="form-control" name="prestation">
                                                    <option value="">{{ "choisir une prestation" | trans }}</option>
                                                    {% for item in prestations %}
                                                        <option class="dropdown-item"
                                                                value="{{ item.id }}" {% if  item.id == prestation %} selected {% endif %}>
                                                            {{ item.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            {% if app.user.hasRole("ROLE_ADMIN") %}
                                                <div class="col-lg-3  col-md-3 col-xs-3">

                                                    <label class="control-label">{{ "Station" | trans }}</label>
                                                    <select class="form-control" name="station">
                                                        <option value="">{{ "choisir une station" | trans }}</option>
                                                        {% for item in stations %}
                                                            <option class="dropdown-item"
                                                                    value="{{ item.id }}" {% if  item.id == station %} selected {% endif %}>
                                                                {{ item.name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>

                                                </div>
                                            {% endif %}
                                            <div class="text-right {% if app.user.hasRole("ROLE_ADMIN") %}col-lg-1 col-md-1 col-xs-1{% else %}col-lg-3  col-md-3 col-xs-3{% endif %}">

                                                <button type="button" id="search" style="margin-top: 24px "
                                                        class="btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon md-search" aria-hidden="true"></i>
                                                </button>
                                                <!--  <button type="button" id="export" style="margin-top: 24px "
                                                          class="btn btn-icon waves-effect waves-classic btn-bleu-background">
                                                      <i class="icon md-file-text" aria-hidden="true"></i>
                                                  </button>-->
                                            </div>
                                        </form>
                                        <script>
                                            $('#search').click(function () {
                                                $('#myform').attr('action', "{{ path('commande_completed') }}");
                                                document.getElementById("myform").submit();
                                            });
                                            $('#export').click(function () {
                                                $('#myform').attr('action', "{{ path('commande_completed') }}");
                                                document.getElementById("myform").submit();
                                            });
                                        </script>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
        <div class="page-content" style="padding-top: 0px ">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"
                     style="padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    <th style="padding-left: 20px;width: 15%">{{ 'Date'|trans }}</th>
                                    <th style="width: 10%">{{ 'Client'|trans }}</th>
                                    <th style="width: 20%">{{ 'Produit'|trans }}/{{ 'Offre'|trans }}</th>
                                    <th style="width: 20%">{{ 'Vehicule'|trans }}</th>
                                    <th style="width: 10%">{{ 'Prestations'|trans }}</th>
                                    {% if app.user.hasRole("ROLE_ADMIN") %}
                                        <th style="width: 10%">{{ 'Station'|trans }}</th>
                                    {% endif %}
                                    <th class="text-center"
                                        style="padding-right: 20px;width: 10%">{{ 'actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for commande in commandes %}
                                <tr>

                                    <td style="padding-left: 20px;vertical-align: middle;">
                                        <span class="">{{ 'Date Commande'|trans }}</span></br>
                                        <span style="display: flex;">
                                            <i class="icon md-calendar" aria-hidden="true"
                                               style="margin-right:5px !important;"></i>{{ commande.createAt|date("d/m/Y")|default('') }}
                                        </span>
                                        <span style="display: flex;">
                                            <i class="icon md-time" aria-hidden="true"
                                               style="margin-right:5px !important;"></i>{{ commande.createAt|date("H:i")|default('') }}
                                        </span>
                                        {% if commande.dateOfReceipt and commande.receptionPeriod %}
                                            </br>

                                            <span class="">{{ 'Date du rendez-vous'|trans }}</span></br>
                                            <span style="display: flex;">
                                                <i class="icon md-calendar" aria-hidden="true"
                                                   style="margin-right:5px !important;"></i>
                                                {{ commande.dateOfReceipt|date("d/m/Y")|default('') }}

                                            </span>
                                            <span style="display: flex;">
                                                <i class="icon md-time" aria-hidden="true"
                                                   style="margin-right:5px !important;"></i>
                                                {{ commande.receptionPeriod|default('') }}
                                            </span>
                                        {% endif %}

                                    </td>
                                    <td style="vertical-align: middle;">
                                        {% if commande.user %}
                                            <span>
                                            <i class="icon md-account" aria-hidden="true"
                                               style="margin-right:5px !important;"></i>{{ commande.user.username|default('') }}<br>
                                            <i class="icon md-phone" aria-hidden="true"
                                               style="margin-right:5px !important;"></i>{{ commande.user.tel|default('') }}
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle;">
                                        {{ commande.product.name|default('') }}
                                        {{ commande.offer.name|default('') }}
                                        <br>
                                        <span class="new-price">{{ commande.price|number_format(3, '.', ',') }}
                                            {% if parametre and parametre.devise %}
                                                {{ parametre.devise }}
                                            {% else %}
                                                TND
                                            {% endif %}
                                        </span>


                                    </td>
                                    <td style="vertical-align: middle;">
                                        {{ commande.marque|default('') }}
                                        ,{{ commande.modele|default('') }} {{ commande.year|default('') }}
                                        {{ commande.carburant|default('') }}
                                    </td>
                                    <td style="vertical-align: middle;">
                                        {% for prestation in commande.prestations %}
                                            <span class="badge badge-outline badge-default">{{ prestation.name }}</span>
                                        {% endfor %}
                                    </td>
                                    {% if app.user.hasRole("ROLE_ADMIN") %}
                                        <td style="vertical-align: middle;">
                                            {{ commande.station.name|default('') }}
                                        </td>
                                    {% endif %}

                                    <td class="text-center"
                                        style="padding-right: 20px;min-width: 110px;vertical-align: middle;">
                                        {#   <button type="button"
                                                   data-toggle="modal" data-target="#leftModalDetails{{ commande.id }}"
                                                   class="btn  btn-pure btn-success  md-plus waves-effect waves-classic"
                                                   style="border: 1px solid;"></button>#}

                                        <button type="button"
                                                data-toggle="modal" data-target="#centerModaldelete{{ commande.id }}"
                                                class="btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                style="color: #f02038;border: 1px solid;padding: 6px 13px;"></button>
                                    </td>
                                </tr>
                                <div class="modal fade" id="centerModaldelete{{ commande.id }}"
                                     aria-labelledby="centerModal" role="dialog"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-primary modal-center modal-lg"
                                         style="width: 50%;">
                                        <div class="modal-content" style="height: 200px;">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"
                                                        style="margin: -12px -10px -15px auto;opacity: 1; ">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title">{{ 'Suppression Produit'|trans }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h4 class="modal-title">{{ 'Voulez vous supprimer ce produit? '|trans }}</h4>
                                                    </div>

                                                    <div class="col-lg-12" style="padding-top: 40px;">
                                                        <a href=""
                                                           class="float-right btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                           style="color: #f02038;border: 1px solid;">
                                                            {{ 'Supprimer'|trans }}
                                                        </a>
                                                        <button type="button"
                                                                class="float-left btn btn-md btn-default waves-effect waves-classic"
                                                                data-dismiss="modal" aria-label="Close">
                                                            {{ 'Annuler'|trans }}
                                                        </button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="leftModalDetails{{ commande.id }}"
                                     aria-labelledby="leftModal" role="dialog"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-simple modal-sidebar modal-lg"
                                         style="width: 60%;">
                                        <div class="modal-content" style="height: 100%;">
                                            <div class="modal-body" id="modalContent" style="padding: 0px">
                                                <div class="row">
                                                    <div class="col-lg-12 text-right"
                                                         style="margin-bottom: 10px;background: #F2F2F2;    padding: 20px 20px 20px 20px;">
                                                        <button type="button"
                                                                class="close   waves-effect waves-classic  btn-bleu"
                                                                style="opacity: 1;color: #ffffff;
                                                                    box-shadow: 0px 0px 6px rgb(0 0 0 / 7%);
                                                                    border-radius: 6px;background: #4A96D2;
                                                                    padding: 1px 9px;
                                                                    position: unset;" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true"
                                                                      style="font-size: 35px;font-weight: 300;">×</span>
                                                        </button>

                                                    </div>

                                                    <div class="col-lg-12" style="padding: 47px 110px;">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                                            <span class="title1"
                                                                  style="font-size: 18px;">{{ 'Commande'|trans }} {{ commande.id }}</span>
                                                        </div>
                                                        {% if commande.uid %}
                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                                                    <span class="title2">{{ commande.uid }}</span>
                                                                    <br> <img style="width: 130px;height: auto;"
                                                                              src="{{ asset('uploads/qrcodes/') }}{{ commande.uid~ ".png" }} ">

                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if commande.createAt %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                <span class="title1">
                                                            {{ 'Date Commande'|trans }}
                                                        </span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                                 <span class="title2">
                                                            <i class="icon md-calendar" aria-hidden="true"
                                                               style="margin-right:5px !important;"></i>
                                                            {{ commande.createAt|date("d/m/Y H:i")|default('') }}
                                                        </span>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if commande.dateOfReceipt %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                <span class="title1">
                                                            {{ 'Date du rendez-vous'|trans }}
                                                        </span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                                 <span class="title2">
                                                            <i class="icon md-calendar" aria-hidden="true"
                                                               style="margin-right:5px !important;"></i>
                                                            {{ commande.dateOfReceipt|date("d/m/Y")|default('') }}
                                                            <i class="icon md-time" aria-hidden="true"
                                                               style="margin-right:5px !important;"></i>
                                                            {{ commande.receptionPeriod|default('') }}

                                                        </span>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}

                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-3 col-sm-4">
                                                                <span class="title1">
                                                            {{ 'Mode de paiement'|trans }}
                                                        </span>
                                                            </div>
                                                            <div class="col-lg-9 col-md-9 col-sm-8">
                                                                 <span class="title2">
                                                                     Paiement à la livraison
                                                                 </span>
                                                            </div>
                                                        </div>
                                                        <br><br>

                                                        {% if commande.price %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                <span class="title1">
                                                            {{ 'Prix'|trans }}
                                                        </span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                                 <span class="title2">
                                                                     {{ commande.price|number_format(3, '.', ',')|default('') }}
                                                                     {% if parametre and parametre.devise %}
                                                                         {{ parametre.devise }}
                                                                     {% else %}
                                                                         TND
                                                                     {% endif %}
                                                                 </span>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if commande.quantity %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                <span class="title1">
                                                            {{ 'Quantité'|trans }}
                                                        </span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                                 <span class="title2">
                                                                     {{ commande.quantity|default('') }}
                                                                 </span>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if commande.user %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                    <span class="title1">{{ 'Client'|trans }}</span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                        <span class="title2">
                                                            <i class="icon md-account" aria-hidden="true"
                                                               style="margin-right:5px !important;"></i>{{ commande.user.username|default('') }}<br>
                                                            <i class="icon md-phone" aria-hidden="true"
                                                               style="margin-right:5px !important;"></i>{{ commande.user.tel|default('') }}<br>
                                                            {{ commande.user.email|default('') }}
                                                        </span>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if commande.marque %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                    <span class="title1">{{ 'Vehicule'|trans }}</span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                                    <span class="title2">{{ commande.marque|default('') }},{{ commande.modele|default('') }} {{ commande.year|default('') }}
                                                                        {{ commande.carburant|default('') }}</span>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if commande.product %}

                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                    <span class="title1">{{ 'Produit'|trans }}</span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8"
                                                                     style="border: 1px solid #E4E4E4;">
                                                                    <div class="row" style="padding: 15px 0px;">
                                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                                            {% if commande.product.image %}
                                                                                <img style="width: 100%;height: auto;"
                                                                                     src="{{ asset('uploads/images/') }}{{ commande.product.image }}">
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                                                            {{ commande.product.name }}<br><br>
                                                                            {% if commande.product.isPromo %}
                                                                                <span class=""> {{ commande.product.pricePromo|number_format(3, '.', ',') }}
                                                                                    {% if parametre and parametre.devise %}
                                                                                        {{ parametre.devise }}
                                                                                    {% else %}
                                                                                        TND
                                                                                    {% endif %}
                                                                                </span>
                                                                                <br>
                                                                                <span class="old-price"> {{ commande.product.price|number_format(3, '.', ',') }}
                                                                                    {% if parametre and parametre.devise %}
                                                                                        {{ parametre.devise }}
                                                                                    {% else %}
                                                                                        TND
                                                                                    {% endif %}
                                                                                </span>
                                                                            {% else %}
                                                                                <span class=""> {{ commande.product.price|number_format(3, '.', ',') }}
                                                                                    {% if parametre and parametre.devise %}
                                                                                        {{ parametre.devise }}
                                                                                    {% else %}
                                                                                        TND
                                                                                    {% endif %}
                                                                                </span>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if commande.offer %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                    <span class="title1">{{ 'Offre'|trans }}</span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8"
                                                                     style="border: 1px solid #E4E4E4;">
                                                                    <div class="row" style="padding: 15px 0px;">
                                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                                            {% if commande.offer.image %}
                                                                                <img style="width: 100%;height: auto;"
                                                                                     src="{{ asset('uploads/images/') }}{{ commande.offer.image }}">
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                                                            {{ commande.offer.name }}<br><br>
                                                                            {% if commande.offer.isPromo %}
                                                                                <span class=""> {{ commande.offer.pricePromo|number_format(3, '.', ',') }}
                                                                                    {% if parametre and parametre.devise %}
                                                                                        {{ parametre.devise }}
                                                                                    {% else %}
                                                                                        TND
                                                                                    {% endif %}
                                                                                </span>
                                                                                <br>
                                                                                <span class="old-price"> {{ commande.offer.price|number_format(3, '.', ',') }}
                                                                                    {% if parametre and parametre.devise %}
                                                                                        {{ parametre.devise }}
                                                                                    {% else %}
                                                                                        TND
                                                                                    {% endif %}
                                                                                </span>
                                                                            {% else %}
                                                                                <span class=""> {{ commande.offer.price|number_format(3, '.', ',') }}
                                                                                    {% if parametre and parametre.devise %}
                                                                                        {{ parametre.devise }}
                                                                                    {% else %}
                                                                                        TND
                                                                                    {% endif %}
                                                                                </span>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if app.user.hasRole("ROLE_ADMIN") %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                    <span class="title1">{{ 'Station'|trans }}</span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                        <span class="title2">
                                                           {{ commande.station.name|default('') }}
                                                        </span>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if commande.orderStatus %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                    <span class="title1">{{ 'Statut'|trans }}</span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                                    <span class="badge {{ commande.statusOrderCssClass }}">{{ commande.statusOrderToString }}</span>
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}
                                                        {% if commande.prestations %}
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-4">
                                                                    <span class="title1">{{ 'Prestations'|trans }}</span>
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-8">
                                                                    {% for prestation in commande.prestations %}
                                                                        <span class="badge badge-outline badge-default">{{ prestation.name }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <br><br>
                                                        {% endif %}

                                                    </div>


                                                </div>

                                                <style>
                                                    .title1 {
                                                        font-family: Poppins;
                                                        font-style: normal;
                                                        font-weight: bold;
                                                        font-size: 10px;
                                                        line-height: 28px;
                                                        /* identical to box height, or 280% */

                                                        text-transform: uppercase;

                                                        /* #1B2746 */

                                                        color: #1B2746;
                                                    }

                                                    .title2 {
                                                        font-family: Poppins;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 16px;
                                                        line-height: 24px;

                                                        /* Secondaire / Bleu Foncé */

                                                        color: #1B2746;
                                                    }
                                                </style>


                                            </div>


                                        </div>
                                    </div>
                                </div>
                        </div>


                        {% else %}
                            <tr>
                                <td style="padding-left: 20px" colspan="8">{{ "noRecordsFound" | trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        <div class="navigation" style="display: grid;place-items: end;padding-right: 10px;">
                            {{ knp_pagination_render(commandes) }}
                        </div>
                        <!-- End Example Bordered Table -->
                    </div>

                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



