<div class="example-wrap">

    {{ form_start(form, {'attr': {'class': 'row'}}) }}
    {% if errors|length > 0 %}
        <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {% for error in errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-4">

        </div>
    {% endif %}

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Nom" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>


    {# <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
         <label>{{ "Prix" | trans }}<span style="color: #ed1a3b">*</span></label>
     </div>

     <div class="offset-lg-2 col-lg-8" >
         {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
     </div>

     <br><br>
     #}

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Icon" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class=" offset-lg-2  col-lg-8  text-center">
         <span class="input-group-btn">
            <div class="input-group input-group-file"
                 data-plugin="inputGroupFile">
                 <input type="text" class="form-control" readonly="">
                <span class="input-group-btn">
                    <span class="btn btn-default btn-file waves-effect waves-classic">
                        <i class="icon md-upload" aria-hidden="true"></i>
                        {{ form_widget(form.icon, {'attr': {'class': 'form-control'}}) }}
                    </span>
                </span>
            </div>
         </span>


    </div>

    <br><br>
    <div class="col-lg-12" style="padding-top: 20px;">
        <div class="row row-lg">
            <div class="col-lg-2 text-left">
            </div>
            <div class="col-lg-8  ">
                <div class="checkbox-custom checkbox-primary center-block">
                    {{ form_widget(form.isActive, {'attr': {'class': 'form-control'}}) }}
                    <label for="inputChecked">{{ 'Est Active ?'|trans }}</label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-lg-12 text-center">
        <a href="{{ path('prestation_index') }}" type="button" style="margin-top: 3px;"
           class="float-left btn btn-md btn-default waves-effect waves-classic">
            <i class="icon md-arrow-left" aria-hidden="true"></i>
            {{ "Annuler" | trans }}
        </a>
        <button style="margin-top: 3px;" class="float-right btn btn-md social-evernote waves-effect waves-classic">
            {{ "Enregistrer" | trans }}
        </button>
    </div>
    {{ form_end(form) }}
    <br>
</div>

