

{% extends 'block/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock  %}
{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{{ "Nouvelle Prestation"|trans }}</h1>
        </div>
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {{ include('prestation/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('global/js/Plugin/input-group-file.js')}}"></script>
{% endblock  %}

