{% extends 'block/layout.html.twig' %}

{% block page %}

    <div class="page">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-title">{{ "Liste des recherches" | trans }} </h1>
                </div>

                <div class="col-lg-6">

                    <div class="media-body text-center float-right" style="padding-right: 25px;">
                        <h4 class="mt-0 mb-5"
                            style="color: #f02138;margin-bottom: 0px!important;"> {{ searchs.getTotalItemCount }}</h4>
                        <small style="">{{ "élement(s)" | trans }}</small>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Modal -->
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr style="border-bottom: 1px solid #f3f3f3;">
                                    <th style="border: none;padding-left: 20px;">{{ "filtre" | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;padding: 0px 20px;">
                                        <form id="myform" class="row" style="align-items: center;max-width: 1520px;"
                                              action="" method="get">
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Mot clé" | trans }}</label>
                                                <input type="text" class="form-control" name="keyword"
                                                       value="{{ keyword }}" placeholder="...">
                                            </div>
                                            <div class="col-lg-6  col-md-6 col-xs-12">
                                                <label class="control-label">{{ 'date'|trans }} </label>
                                                <div class="input-daterange" data-plugin="datepicker">
                                                    <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="icon md-calendar" aria-hidden="true"></i>
                                                                </span>
                                                        <input autocomplete="off" type="text" class="form-control"
                                                               name="dateDebut"
                                                               value="{% if dateDebut is defined  and dateDebut !='' %}{{ dateDebut }}{% endif %}"/>
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">{{ 'to'|trans }}</span>
                                                        <input autocomplete="off" type="text" class="form-control"
                                                               name="dateFin"
                                                               value="{% if dateFin  is defined and dateFin !='' %}{{ dateFin }}{% endif %}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3  col-md-3 col-xs-3 text-right">
                                                <button type="button" id="search" style="margin-top: 24px "
                                                        class="btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon md-search" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" id="export" style="margin-top: 24px "
                                                        class="btn btn-icon waves-effect waves-classic btn-bleu-background">
                                                    <i class="icon md-file-text" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </form>
                                        <script>
                                            $('#search').click(function () {
                                                $('#myform').attr('action', "{{ path('search_index') }}");
                                                document.getElementById("myform").submit();
                                            });
                                            $('#export').click(function () {
                                                $('#myform').attr('action', "{{ path('search_index') }}");
                                                document.getElementById("myform").submit();
                                            });
                                        </script>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
        <div class="page-content" style="padding-top: 0px ">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"
                     style="padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    <th style="padding-left: 20px;width: 20%">{{ 'Marque'|trans }}</th>
                                    <th style="width: 20%">{{ 'Modele'|trans }}</th>
                                    <th style="width: 20%">{{ 'Année'|trans }}</th>
                                    <th style="width: 20%">{{ 'Carburant'|trans }}</th>
                                    <th style="width: 20%">{{ 'Adresse'|trans }}</th>
                                    <th style="width: 20%">{{ 'Date'|trans }}</th>
                                    <th style="width: 20%">{{ 'Etapes'|trans }}</th>

                                    <th class="text-center"
                                        style="padding-right: 20px;width: 20%">{{ 'actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for search in searchs %}
                                    <tr>

                                        <td style="padding-left: 20px;vertical-align: middle;">
                                            {{ search.marque }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ search.modele }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ search.year }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ search.carburant }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ search.address|default('') }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {% if search.createAt %}
                                                {{ search.createAt|date("d/m/Y H:i")|default('') }}
                                            {% endif %}

                                        </td>
                                        <td style="vertical-align: middle;">
                                            {% if search.step1 %}
                                                <span class="badge badge-outline badge-default">1.{{ search.step1 }}</span>
                                            {% endif %}
                                            {% if search.step2 %}
                                                <span class="badge badge-outline badge-default">2.{{ search.step2 }}</span>
                                            {% endif %}
                                            {% if search.step3 %}
                                                <span class="badge badge-outline badge-default">3.{{ search.step3 }}</span>
                                            {% endif %}
                                            {% if search.step4 %}
                                                <span class="badge badge-outline badge-default">4.{{ search.step4 }}</span>
                                            {% endif %}
                                            {% if search.step5 %}
                                                <span class="badge badge-outline badge-default">5.{{ search.step5 }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-right"
                                            style="padding-right: 20px;min-width: 110px;vertical-align: middle;">

                                            <button type="button"
                                                    data-toggle="modal" data-target="#centerModaldelete{{ search.id }}"
                                                    class="btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                    style="color: #f02038;border: 1px solid;"></button>

                                        </td>
                                    </tr>
                                    <div class="modal fade" id="centerModaldelete{{ search.id }}"
                                         aria-labelledby="centerModal" role="dialog"
                                         tabindex="-1">
                                        <div class="modal-dialog modal-primary modal-center modal-lg"
                                             style="width: 50%;">
                                            <div class="modal-content" style="height: 200px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"
                                                            style="margin: -12px -10px -15px auto;opacity: 1; ">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title">{{ 'Suppression Recherche'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <h4 class="modal-title">{{ 'Voulez vous supprimer cette ligne? '|trans }}</h4>
                                                        </div>

                                                        <div class="col-lg-12" style="padding-top: 40px;">
                                                            <a href="{{ path('search_delete',{'keyword': keyword,'id':search.id}) }}"
                                                               class="float-right btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                               style="color: #f02038;border: 1px solid;">
                                                                {{ 'Supprimer'|trans }}
                                                            </a>
                                                            <button type="button"
                                                                    class="float-left btn btn-md btn-default waves-effect waves-classic"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                {{ 'Annuler'|trans }}
                                                            </button>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}
                                    <tr>
                                        <td style="padding-left: 20px" colspan="8">{{ "noRecordsFound" | trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation" style="display: grid;place-items: end;padding-right: 10px;">
                                {{ knp_pagination_render(searchs) }}
                            </div>
                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



