{% extends 'base.html.twig' %}

{% block body %}
    {{ render(controller(
        'App\\Controller\\ParametreController::languageMenu'
    )) }}
    {% include 'block/menubar.html.twig' %}

    <!-- Page -->
{% block page %}{% endblock page %}
 <!--   <div class="scrollup dropdown-toggle dropstart">
        <button  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                 title="Scroll to top" class="cd-top">
            <svg style="    width: 22px;fill: #fff;padding-bottom: 7px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 48 48" height="48px" id="Layer_3" version="1.1" viewBox="0 0 48 48" width="48px" xml:space="preserve"
            ><g><path d="M26.456,8.366c1.152,0,2.209-0.407,3.161-1.22c0.943-0.812,1.523-1.799,1.731-2.951   c0.195-1.16-0.048-2.138-0.764-2.951c-0.714-0.821-1.648-1.228-2.803-1.228c-1.159,0-2.214,0.407-3.158,1.228   c-0.955,0.813-1.535,1.792-1.732,2.951c-0.143,1.151,0.133,2.139,0.812,2.951C24.384,7.959,25.305,8.366,26.456,8.366z"></path><path d="M36.68,37.971c0-0.352-0.462-0.712-1.361-1.088c-0.105,0.152-0.211,0.282-0.316,0.435   c-0.627,0.798-2.965,3.613-6.008,5.3c-0.02,0.008-0.036,0.016-0.048,0.027c-0.265,0.141-0.536,0.246-0.808,0.371   c-0.803,0.286-1.552,0.36-1.793,0.38c-0.683-0.09-1.053-0.567-1.053-1.471c0-0.747,0.219-2.222,0.663-4.439l0.51-2.237   l2.083-10.001c0.339-1.705,0.521-2.649,0.562-2.835l0.454-2.339c0.268-1.449,0.404-2.406,0.404-2.873   c0-0.894-0.224-1.572-0.579-2.124c-0.031-0.08-0.074-0.161-0.133-0.245c-0.054-0.064-0.107-0.121-0.164-0.18   c-0.062-0.066-0.095-0.129-0.179-0.198c-0.888-0.726-1.715-0.933-2.287-0.979l0.01-0.016c0,0-3.759-0.286-9.326,3.383   c-0.081,0.054-0.13,0.09-0.204,0.141c-1.507,0.954-2.712,1.913-3.547,2.681c-0.642,0.547-1.135,1.058-1.5,1.533   c0,0.002-0.018,0.021-0.018,0.021l0.004-0.002c-0.476,0.624-0.726,1.193-0.726,1.695c0,0.397,0.32,0.794,0.958,1.189   c0,0,2.392-3.086,6.41-5.096c0.304-0.131,1.076-0.45,1.755-0.627c0.316-0.073,0.915-0.129,1.298,0.187   c0.274,0.284,0.456,0.683,0.456,1.301c0,0.563-0.085,1.243-0.256,2.061l-0.407,1.926l-0.507,2.407l-1.984,9.517   c-1.015,4.916-1.523,7.857-1.523,8.815c0,2.261,1.237,3.392,3.71,3.392c1.12,0,2.274-0.203,3.455-0.566   c0.008,0,0.012,0.004,0.02,0.007c0.081-0.027,0.155-0.059,0.232-0.085c0.196-0.063,0.394-0.138,0.59-0.213   c5.578-2.076,9.248-6.257,10.359-7.657c0.098-0.118,0.18-0.23,0.262-0.337c0.062-0.086,0.102-0.145,0.102-0.145h-0.004   C36.527,38.573,36.68,38.229,36.68,37.971z"></path></g></svg>

        </button>
        <div class="dropdown-menu pull-left" style="z-index: 999999;">
            <p style="padding: 20px 20px 0px 20px; max-width: 253px;">{{ 'text1'|trans }}</p>
            <p style="padding: 0px 20px 20px 20px; max-width: 253px;">{{ 'text2'|trans }}</p>
        </div>
    </div>-->
    <style>
        button:focus{
            outline: 1px dotted !important;
        }
    </style>
{% endblock  %}