<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    {% if app.user.hasRole("ROLE_ADMIN") %}

                        <li class="site-menu-category">Admin</li>
                        <li class="site-menu-item has-sub">
                            <a href="">
                                <i class="site-menu-icon icon md-chart" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Dashbord" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('station_index') }}" style="
                            {% if app.request.attributes.get('_route')=='station_index' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-arrow-split" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Gestion des stations" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('user_index') }}" style="
                            {% if app.request.attributes.get('_route')=='user_index' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-accounts-outline" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Gestion des gérants" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('product_index') }}" style="
                            {% if app.request.attributes.get('_route')=='product_index' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-accounts-outline" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Gestion des produits" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('offer_index') }}" style="
                            {% if app.request.attributes.get('_route')=='offer_index' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-accounts-outline" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Gestion des offres" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('commande_completed') }}" style="
                            {% if app.request.attributes.get('_route')=='commande_completed' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-accounts-outline" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Liste des commandes" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('commande_incompleted') }}" style="
                            {% if app.request.attributes.get('_route')=='commande_incompleted' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-accounts-outline" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Commandes Incomplètes" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('search_index') }}" style="
                            {% if app.request.attributes.get('_route')=='search_index' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-accounts-outline" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Liste des recherches" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('client_index') }}" style="
                            {% if app.request.attributes.get('_route')=='client_index' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-accounts-outline" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Liste des clients" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a>
                                <i class="site-menu-icon icon md-settings" aria-hidden="true"></i>
                                <span style="color: #CCC"
                                      class="site-menu-title">Paramètres</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub" style="padding-left: 30px;">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{{ path('prestation_index') }}" style="
                                    {% if app.request.attributes.get('_route')=='prestation_index' %}
                                            color: #ED0000
                                    {% endif %}">
                                        <i class="site-menu-icon icon md-city-alt" aria-hidden="true"></i>
                                        <span class="site-menu-title">{{ "Prestations" | trans }}</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{{ path('parametre_language') }}"
                                       style="
                                    {% if app.request.attributes.get('_route')=='parametre_language' %}
                                            color: #ED0000
                                    {% endif %}">
                                        <i class="site-menu-icon icon md-city-alt" aria-hidden="true"></i>
                                        <span class="site-menu-title">{{ "Langue" | trans }}</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{{ path('parametre_devise') }}"
                                       style="
                                       {% if app.request.attributes.get('_route')=='parametre_devise' %}
                                               color: #ED0000
                                       {% endif %}">
                                        <i class="site-menu-icon icon md-city-alt" aria-hidden="true"></i>
                                        <span class="site-menu-title">{{ "Devise" | trans }}</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{{ path('parametre_sms') }}"
                                       style="
                                       {% if app.request.attributes.get('_route')=='parametre_sms' %}
                                               color: #ED0000
                                       {% endif %}">
                                        <i class="site-menu-icon icon md-city-alt" aria-hidden="true"></i>
                                        <span class="site-menu-title">{{ "SMS" | trans }}</span>
                                    </a>
                                </li>
                            </ul>

                        </li>


                    {% elseif app.user.hasRole("ROLE_GERANT") %}

                        <li class="site-menu-category">Gérant</li>
                        <li class="site-menu-item has-sub">
                            <a href="">
                                <i class="site-menu-icon icon md-chart" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Dashbord" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('offer_index') }}" style="
                            {% if app.request.attributes.get('_route')=='offer_index' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-accounts-outline" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Gestion des offres" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('commande_completed') }}" style="
                            {% if app.request.attributes.get('_route')=='commande_completed' %}
                                    color: #ED0000
                            {% endif %}">
                                <i class="site-menu-icon icon md-accounts-outline" aria-hidden="true"></i>
                                <span class="site-menu-title">{{ "Liste des commandes" | trans }}</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a>
                                <i class="site-menu-icon icon md-settings" aria-hidden="true"></i>
                                <span style="color: #CCC"
                                      class="site-menu-title">Paramètres</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub" style="padding-left: 30px;">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{{ path('station_parametrage') }}" style="
                                    {% if app.request.attributes.get('_route')=='station_parametrage' %}
                                            color: #ED0000
                                    {% endif %}">
                                        <i class="site-menu-icon icon md-city-alt" aria-hidden="true"></i>
                                        <span class="site-menu-title">Station</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="site-menu-sub" style="padding-left: 30px;">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{{ path('prestation_index') }}" style="
                                    {% if app.request.attributes.get('_route')=='prestation_index' %}
                                            color: #ED0000
                                    {% endif %}">
                                        <i class="site-menu-icon icon md-city-alt" aria-hidden="true"></i>
                                        <span class="site-menu-title">{{ "Prestations" | trans }}</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="site-menu-sub" style="padding-left: 30px;">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="{{ path('prestation_station_index') }}" style="
                                    {% if app.request.attributes.get('_route')=='prestation_station_index' %}
                                            color: #ED0000
                                    {% endif %}">
                                        <i class="site-menu-icon icon md-city-alt" aria-hidden="true"></i>
                                        <span class="site-menu-title">{{ "Mes Prestations" | trans }}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
</div>
