
<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">


    <div class="navbar-header">
        <a href="#" >
            <div  class="navbar-brand navbar-brand-center site-gridmenu-toggle"   style="padding: 0px;" data-toggle="gridmenu">
                <img class="brand-img" src={{ asset('images/negocier-voiture.png') }} alt="..." style="margin: 12px; height: 43px;">
            </div>
        </a>
    </div>

    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">

            </ul>
            <!-- End Navbar Toolbar -->

            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                       aria-expanded="false" role="button">
                        <span class="flag-icon
             {% if app.request.getLocale()  == 'en' %}flag-icon-gb
{% elseif app.request.getLocale()  == 'fr' %}flag-icon-fr
{% elseif app.request.getLocale()  == 'ar' %}flag-icon-sa
{% endif %}"></span>
                    </a>
                    {% if  parametre.language|length>1 %}
                    <div class="dropdown-menu" role="menu" >
                        {% if 'en' in parametre.language %}
                        <a class="dropdown-item" href="{{ path('fr_en') }}?to=en" role="menuitem">
                            <span class="flag-icon flag-icon-gb"></span>English</a>
                        {% endif %}
                        {% if 'fr' in parametre.language %}
                        <a class="dropdown-item" href="{{ path('fr_en') }}?to=fr" role="menuitem">
                            <span class="flag-icon flag-icon-fr"></span>Français</a>
                        {% endif %}
                        {% if 'ar' in parametre.language %}
                        <a class="dropdown-item" href="{{ path('fr_en') }}?to=ar" role="menuitem">
                            <span class="flag-icon flag-icon-sa"></span>العربية</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                       data-animation="scale-up" role="button">
                <span class="avatar avatar-online">
                  <img src="{{ asset('images/user.png')}}" alt="...">
                  <i></i>
                </span>
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" role="menu">
                       <a class="dropdown-item" href="" role="menuitem">
                           <i class="icon md-account" aria-hidden="true"></i>{{"Profile" | trans }}</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}" role="menuitem">
                            <i class="icon md-power" aria-hidden="true"></i> {{"Logout" | trans }}</a>

                    </div>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->

        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon md-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" name="site-search" placeholder="Search...">
                        <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                                data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Site Navbar Seach -->
    </div>
</nav>
