





<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email client</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        @media (max-width: 768px) {
            .divleft{
                width: 60%;
            }
            .divright{
                width: 30%;
            }
        }
        @media (min-width: 769px) {
            .divleft{
                width: 100%;
            }
            .divright{
                width: 100%;
            }

        }
    </style>
</head>
<body>
<div style="width: 100%; text-align: center">
    <div style="width: 100%;border: 1px solid #DDDDDD;border-radius: 10px;margin: auto">
        <p style="font-family: Poppins;font-style: normal;font-weight: bold;font-size: 20px;
        line-height: 122%;color: #00234B;flex: none;order: 0;flex-grow: 0;margin: 0px 10px;
         text-align: center">

            {% if titleEmail is defined %}
                {{ titleEmail }}
            {% else %}
                Votre commande est confirmée avec succès
            {% endif %}
        </p>
        <p style="font-family: Roboto;font-style: normal;font-weight: normal;font-size: 12px;
        line-height: 14px;text-align: center;color: #00234B;flex: none;order: 0;flex-grow: 0;
        margin: 8px 0px;">
            Veuillez présenter votre  QR-code  lors de votre passage en station
        </p>
        <img src="{{ img }}" width="200" border="0" alt="QR-code">

        <p style="font-style: normal;font-weight: bold;font-size: 12px;
        line-height: 14px;color: #333333;flex: none;order: 0;flex-grow: 0;margin: 5px 0px;">
            {{ commande.station.name }}
        </p>
        <p style="font-family: Roboto;font-style: normal;font-weight: normal;font-size: 12px;
        line-height: 14px;color: #00234B;flex: none;order: 0;flex-grow: 0;margin: 4px 0px;">
            {{ commande.station.address }}
        </p>
        <p style="font-family: Roboto;font-style: normal;font-weight: normal;font-size: 12px;
        line-height: 14px;color: #4F4F4F;flex: none;order: 1;flex-grow: 0;margin: 4px 0px;">
            {{ commande.station.tel }}
        </p>

        <div class="divDetails" style="width:80%;text-align: center;margin-top: 25px;margin: auto">
            <div style="padding: 20px;background: #E4032E;box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.05);border-radius: 6px 6px 0px 0px;text-align: center">

                    <span style="color:#FFFFFF;font-family: Montserrat;font-style: normal;
                    font-weight: bold;font-size: 16px;line-height: 18px;">
                         Commande N° {{ commande.id }}
                    </span>
            </div>
            <div style="width:100%;border: 1px solid #E0E0E0;box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.05);border-radius: 6px;">
                {% if commande.marque %}
                    <div style="padding: 20px;border-bottom: 1px solid rgba(222, 222, 222, 0.6);text-align: left">
                    <span style="font-family: HelveticaNeue;font-style: normal;font-weight: normal;font-size: 14px;
                    line-height: 16px;color: #1B2746;">
                        {{ commande.marque|default('') }},{{ commande.modele|default('') }} {{ commande.year|default('') }}
                        {{ commande.carburant|default('') }}
                    </span>
                    </div>
                {% endif %}
                <div style="padding: 0px 20px 20px 20px;width: 100%;display: flex;justify-content: center;">

                    <div class="divleft" style="display: inline ; text-align:left;">
                        {% if commande.offer %}

                            <p style="font-family: HelveticaNeue;font-style: normal;font-weight: bold;font-size: 14px;
                       line-height: 20px;letter-spacing: 0.1px;color: #181725;">{{ commande.offer.name }}</p>
                            {% if commande.offer.isPromo %}
                                <span style="color: #7098A7;font-size: 12px;font-weight: normal;
                               text-decoration: line-through;">{{ commande.offer.price|number_format(3, '.', ',') }}{{ devise }}</span>
                                <span style="color: #ED0000;font-size: 14px;"> {{ commande.offer.pricePromo|number_format(3, '.', ',') }}{{ devise }}</span><br>


                            {% else %}
                                <span style="color: #ED0000;font-size: 14px;"> {{ commande.offer.price|number_format(3, '.', ',') }}{{ devise }}</span><br>
                            {% endif %}


                            {% if commande.offer.prestations|length>0 %}
                                <p style="font-style: normal;font-weight: bold;font-size: 14px;color: #181725;">
                                    Prestations incluses : </p>
                                {% for prestation in commande.offer.prestations %}
                                    <span style="font-style: normal;;font-size: 12px;color: #181725;"> {{ prestation.name }} </span><br>
                                {% endfor %}
                            {% endif %}
                            <p style="font-style: normal;font-weight: bold;font-size: 14px;color: #181725;">Code promo : </p>
                            <span style="font-style: normal;;font-size: 12px;color: #ED0000;"> {{ commande.uid }} </span><br>





                        {% else %}
                            <p style="font-family: HelveticaNeue;font-style: normal;font-weight: bold;font-size: 14px;
                       line-height: 20px;letter-spacing: 0.1px;color: #181725;">{{ commande.product.name }}</p>
                            {% if commande.product.isPromo %}
                                <span style="color: #7098A7;font-size: 12px;font-weight: normal;
                               text-decoration: line-through;">
                               {{ commande.product.price|number_format(3, '.', ',') }}{{ devise }}
                           </span>
                                <span style="color: #ED0000;font-size: 14px;"> {{ commande.product.pricePromo|number_format(3, '.', ',') }}{{ devise }}</span><br>


                            {% else %}
                                <span style="color: #ED0000;font-size: 14px;"> {{ commande.product.price|number_format(3, '.', ',') }}{{ devise }}</span>
                            {% endif %}


                        {% endif %}

                    </div>
                    <div class="divright" style="display: inline; text-align:right;">

                        <p style="text-align: left;font-style: normal;font-weight: bold;font-size: 14px;color: #181725;">Mode de paiement:</p>
                        <p style="text-align: left;font-style: normal;;font-size: 12px;color: #181725;">Paiement sur place</p>


                        <p style="text-align: left;font-style: normal;font-weight: bold;font-size: 14px;color: #181725;">Date de la commande:</p>
                        <p style="text-align: left;font-style: normal;;font-size: 12px;color: #181725;">{{ commande.createAt|date("d/m/Y H:i")|default('') }}</p>
                        {% if commande.dateOfReceipt %}

                            <p style="text-align: left;font-style: normal;font-weight: bold;font-size: 14px;color: #181725;">Date du rendez-vous:</p>
                            <p style="text-align: left; font-style: normal;;font-size: 12px;color: #181725;">
                                {{ commande.dateOfReceipt|date("d/m/Y")|default('') }} {{ commande.receptionPeriod|default('') }}
                            </p>

                        {% endif %}
                    </div>


                </div><br>
                <div style="min-height: 50px; padding:10px 20px;border-top: 1px solid rgba(222, 222, 222, 0.6);text-align: left">
                    <p style="color:#ED0000;float: left; font-family: HelveticaNeue;font-style: normal;font-weight: bold;font-size: 14px;
                       line-height: 20px;letter-spacing: 0.1px;">
                        Quantité: {{ commande.quantity }} </p>
                    <p style="color:#ED0000; float: right;font-family: HelveticaNeue;font-style: normal;font-weight: bold;font-size: 14px;
                       line-height: 20px;letter-spacing: 0.1px;;">
                        Montant Total TTC : {{ commande.price|number_format(3, '.', ',') }}{{ devise }}
                    </p>
                </div>

                {% if commande.prestations|length>0 %}
                    <div style="min-height: 50px; padding:10px 20px;border-top: 1px solid rgba(222, 222, 222, 0.6);text-align: left">
                        <p style="font-style: normal;font-weight: bold;font-size: 14px;color: #181725;">
                            Prestations additionnelles non incluses, prix à définir sur place :
                            <span style="color:#ED0000;">*</span>
                        </p>
                        {% for prestation in commande.prestations %}
                            <span style="font-style: normal;;font-size: 12px;color: #181725;"> {{ prestation.name }} </span><br>
                        {% endfor %}
                        <p style="color:#ED0000;font-style: normal;font-weight: bold;font-size: 14px;">
                            *Le prix de ces options n'est pas compris dans l'offre choisie et sera payé en sus
                            sur place.

                        </p>
                    </div>

                {% endif %}
            </div>

        </div>

    </div>

</div>
</body>
</html>
