<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">
    <title>{% block title %}Lub en ligne{% endblock %}</title>

    {% block stylesheets %}
        <link rel="apple-touch-icon" href="{{ asset('assets/images/apple-touch-icon.png') }}">
        <link rel="shortcut icon" href="{{ asset('logo.png') }}">
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset('global/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('global/css/bootstrap-extend.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/site.min.css') }}?v6">

        <!-- Plugins -->
        <link rel="stylesheet" href="{{ asset('global/vendor/animsition/animsition.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/asscrollable/asScrollable.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/switchery/switchery.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/intro-js/introjs.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/slidepanel/slidePanel.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/flag-icon-css/flag-icon.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/waves/waves.css') }}">
        <link rel="stylesheet" href="{{ asset('global/vendor/select2/select2.css') }}?v2">
        <link rel="stylesheet" href="{{ asset('global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/intlTelInput.css') }}">

        <!-- Fonts -->
        <link rel="stylesheet" href="{{ asset('global/fonts/material-design/material-design.min.css') }}">
        <link rel="stylesheet" href="{{ asset('global/fonts/brand-icons/brand-icons.min.css') }}">

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    {% endblock %}
    <script src="{{ asset('global/vendor/breakpoints/breakpoints.js') }}"></script>
    <script>
        Breakpoints();
        $(function () {
            $('.input-daterange').datepicker(
                {
                    format: 'dd/mm/yyyy'
                }
            );
        });
    </script>
    <style>
        .iti {
            width: 100%;
            position: relative;
            display: inline-block;
        }

    </style>
</head>
<body class="animsition dashboard">
<!--[if lt IE 8]>

<![endif]-->

{% block body %}{% endblock %}
<!-- End Page -->


<!-- Footer -->
<!-- Core  -->
{% block javascripts %}

    <script src="{{ asset('global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
    <script src="{{ asset('global/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('global/vendor/popper-js/umd/popper.min.js') }}"></script>
    <script src="{{ asset('global/vendor/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('global/vendor/animsition/animsition.js') }}"></script>
    <script src="{{ asset('global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
    <script src="{{ asset('global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
    <script src="{{ asset('global/vendor/ashoverscroll/jquery-asHoverScroll.js') }}"></script>
    <script src="{{ asset('global/vendor/waves/waves.js') }}"></script>
    <script src="{{ asset('global/vendor/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <!-- Plugins -->
    <script src="{{ asset('global/vendor/switchery/switchery.js') }}"></script>
    <script src="{{ asset('global/vendor/intro-js/intro.js') }}"></script>
    <script src="{{ asset('global/vendor/screenfull/screenfull.js') }}"></script>
    <script src="{{ asset('global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>

    <!-- Scripts -->
    <script src="{{ asset('global/js/Component.js') }}"></script>
    <script src="{{ asset('global/js/Plugin.js') }}"></script>
    <script src="{{ asset('global/js/Base.js') }}"></script>
    <script src="{{ asset('global/js/Config.js') }}"></script>
    <script src="{{ asset('global/js/Plugin/select2.js') }}"></script>


    <script src="{{ asset('assets/js/Section/Menubar.js') }}"></script>
    <script src="{{ asset('assets/js/Section/GridMenu.js') }}"></script>
    <script src="{{ asset('assets/js/Section/Sidebar.js') }}"></script>
    <script src="{{ asset('assets/js/Section/PageAside.js') }}"></script>
    <script src="{{ asset('assets/js/Plugin/menu.js') }}"></script>

    <script src="{{ asset('global/js/config/colors.js') }}"></script>
    <script src="{{ asset('assets/js/config/tour.js') }}"></script>
    <script>Config.set('assets', 'assets');</script>

    <!-- Page -->
    <script src="{{ asset('assets/js/Site.js') }}"></script>
    <script src="{{ asset('global/js/Plugin/asscrollable.js') }}"></script>
    <script src="{{ asset('global/js/Plugin/slidepanel.js') }}"></script>
    <script src="{{ asset('global/js/Plugin/switchery.js') }}"></script>
    <script src="{{ asset('global/js/Plugin/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('build/js/intlTelInput.min.js') }}"></script>

    <script src="{{ asset('build/js/intlTelInput-jquery.min.js') }}"></script>
    <script src="{{ asset('build/vendor/jquery.caret.js') }}"></script>
    <script src="{{ asset('build/lib/jquery.mobilePhoneNumber.js') }}"></script>

    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });

            $("select").select2();
        })(document, window, jQuery);
    </script>
{% endblock %}


</body>
</html>
