
<div class="example-wrap">

    {{ form_start(form, {'attr': {'class': 'row'}}) }}
    {% if errors|length > 0 %}
        <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {% for error in errors %}
                    <p class="text-danger" >{{ error }}</p>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-4">

        </div>
    {% endif %}

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Nom" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-8" >
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Adresse" | trans }}</label>
    </div>
    <div class="offset-lg-2 col-lg-8" >
        {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>


    <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
        <label>{{ "tel" | trans }}</label>
    </div>

    <div class="offset-lg-2 col-lg-8" >
        {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Image" | trans }}</label>
    </div>
    {% if station.image %}
        <div class="offset-lg-2 col-lg-2" style="padding-top: 20px;">
            <img src="{{ asset('uploads/images/') }}{{ station.image }}" alt="..."
                 style="position: relative;display: inline-block;width: 120px;white-space: nowrap;vertical-align: bottom;">
        </div>
    {% endif %}
    <div class=" {% if  station.image == null %}offset-lg-2  col-lg-8 {% else %} col-lg-6{% endif %} text-center">
        {{ form_widget(form.image, {'attr': {'id': 'input-file-now', 'data-plugin':'dropify','data-default-file': '','style' : 'max-height: 100px;max-width:300px'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
        <label>{{ "Prestations" | trans }}</label>
    </div>

    <div class="offset-lg-2 col-lg-8" >
        {{ form_widget(form.prestations, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
        <label>{{ "Heures" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>

    <div class="offset-lg-2 col-lg-8" >
        {{ form_widget(form.horaires, {'attr': {'class': 'form-control'}}) }}
        <div class="checkbox-custom checkbox-primary center-block">
            {{ form_widget(form.isClosedSunday, {'attr': {'class': 'form-control'}}) }}
            <label for="inputChecked">{{ 'la station est fermée les dimanches ?'|trans }}</label>
        </div>
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Fichier conditions générales de vente" | trans }}</label>
        {% if station.file %}
           <br> <a class="title3" style="padding-top: 10px;"
               href=  {{ asset('uploads/files/') }}{{ station.file }}
               target="_blank"><i class="icon md-file-text"
                                  aria-hidden="true"></i> {{ 'Cliquez Ici'|trans }}
            </a>
        {% endif %}
    </div>
    <div class="offset-lg-2  col-lg-8 text-center">

        <span class="input-group-btn">
          <div class="input-group input-group-file" data-plugin="inputGroupFile">
              <input type="text" class="form-control" readonly="">
              <span class="input-group-btn">
                  <span class="btn btn-default btn-file waves-effect waves-classic">
                      <i class="icon md-upload" aria-hidden="true"></i>
                      {{ form_widget(form.file, {'attr': {'class': 'form-control','accept': 'pdf/*'}}) }}
                  </span>
              </span>
          </div>
        </span>
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
        <label>{{ "Latitude" | trans }}</label>
    </div>

    <div class="offset-lg-2 col-lg-8" >
        {{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-8" style="padding-top: 20px;">
        <label>{{ "Longitude" | trans }}</label>
    </div>

    <div class="offset-lg-2 col-lg-8" >
        {{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br><br>

    <div class="col-lg-12" style="padding-top: 20px;">
        <div class="row row-lg">
            <div class="col-lg-2 text-left">
            </div>
            <div class="col-lg-8  ">
                <div class="checkbox-custom checkbox-primary center-block">
                    {{ form_widget(form.isOilChange, {'attr': {'class': 'form-control'}}) }}
                    <label for="inputChecked">{{ 'Oil Change ?'|trans }}</label>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="col-lg-12" style="padding-top: 20px;">
        <div class="row row-lg">
            <div class="col-lg-2 text-left">
            </div>
            <div class="col-lg-8  ">
                <div class="checkbox-custom checkbox-primary center-block">
                    {{ form_widget(form.isActive, {'attr': {'class': 'form-control'}}) }}
                    <label for="inputChecked">{{ 'Est Active ?'|trans }}</label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-lg-12 text-center">
        <a href="{{ path('station_index') }}" type="button" style="margin-top: 3px;" class="float-left btn btn-md btn-default waves-effect waves-classic">
            <i class="icon md-arrow-left" aria-hidden="true"></i>
            {{"Annuler" | trans }}
        </a>
        <button style="margin-top: 3px;" class="float-right btn btn-md social-evernote waves-effect waves-classic">
            {{"Enregistrer" | trans }}
        </button>
    </div>
    {{ form_end(form) }}
    <br>
</div>

