{% extends 'block/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('global/vendor/dropify/dropify.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>

{% endblock  %}
{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{{ "Modification Station"|trans }}</h1>
        </div>
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {{ include('station/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="{{ asset('global/vendor/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-tmpl/tmpl.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-canvas-to-blob/canvas-to-blob.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-load-image/load-image.all.min.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-process.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-audio.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-video.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-validate.js') }}"></script>
    <script src="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload-ui.js') }}"></script>
    <script src="{{ asset('global/vendor/dropify/dropify.min.js') }}"></script>
    <script src="{{ asset('global/js/Plugin/input-group-file.js')}}"></script>

    <script src="{{ asset('global/js/Plugin/dropify.js') }}"></script>
    <script src="{{ asset('assets/examples/js/forms/uploads.js') }}"></script>
    <script>

        jQuery(document).ready(function() {
            $.ajax({
                url:  '{{ path('getPrestations') }}',
                dataType: 'Json',
                data: {'station': {{ station.id }}},
                type: 'GET',
                success: function (data) {
                    if (data['prestations']) {
                        prestations = data['prestations']
                        //  $('select[name="station[prestationStations][]"]').empty();
                        //   $('select[name="station[prestationStations][]"]').append('<option  selected value="" hidden>' + "{{ 'choisirunefiliale'|trans }}" + '</option>');
                        for (i = 0; i < prestations.length; i++) {
                            prestation = prestations[i];
                            $('#station_prestations option[value="' + prestation.id + '"').attr('selected', 'selected');
                           // $('#id option[value="0"]').attr('selected', 'selected');
                        }
                        ;
                    }

                    $("select").select2();
                }
            });
            $('.js-datepicker').datepicker({
                autoclose: 'true',
                format: 'dd/mm/yyyy',
                startDate: new Date('01/01/1975'),
            });

            $("#station_tel").intlTelInput({
                nationalMode:false,
                preferredCountries: ["TN" ],
                autoPlaceholder:"polite",
            });


            jQuery(function($){
                var input = $('#station_tel')
                input.mobilePhoneNumber({allowPhoneWithoutPrefix:'+1'});// U.S.
                input.bind('country.mobilePhoneNumber',function(e, country) {
                    console.log(country)
                })

                if(input.val().length<=0){
                    input.val('+216');
                }
               //

            });

        });
    </script>

{% endblock  %}

