{% extends 'block/layout.html.twig' %}

{% block page %}

    <div class="page">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-title">{{ "Gestion des stations" | trans }}</h1>
                </div>

                <div class="col-lg-6">
                    <a href="{{ path('station_new' , {'keyword': keyword }) }}"
                       class="float-right btn btn-sm social-evernote waves-effect waves-classic">
                        <i class="icon md-plus" aria-hidden="true"></i>{{ "Ajouter" | trans }}
                    </a>
                    <a style="margin-right: 15px;" href="#" data-target="#uploadFileModal" data-toggle="modal"
                       style="margin-top: 3px;"
                       class="float-right btn btn-sm social-evernote waves-effect waves-classic">
                        <i class="icon md-upload" aria-hidden="true"></i>{{ "Importer" | trans }}
                    </a>
                    <div class="media-body text-center float-right" style="padding-right: 25px;">
                        <h4 class="mt-0 mb-5"
                            style="color: #f02138;margin-bottom: 0px!important;"> {{ stations.getTotalItemCount }}</h4>
                        <small style="">{{ "station(s)" | trans }}</small>
                    </div>
                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade modal-fade-in-scale-up" id="uploadFileModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <form action="{{ path("station_import") }}" method="post" enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #154093;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    style="margin: -12px -10px -15px auto;opacity: 1;">
                                <span aria-hidden="true" style="color: #fff;">×</span>
                            </button>
                            <h4 class="modal-title" style="color: #fff;">{{ "Importer"  | trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ "Vous pouvez télécharger un modèle"  | trans }} <a
                                        href="{{ asset('xlsModels/Station.xlsx') }}">  {{ "ICI"  | trans }}</a></p>
                            {#    <label class="control-label" for="inputFile">{{ "Fichier" | trans }}</label>
                            <input type="file" id="inputFile" name="inputFile" multiple=""/>#}
                            <span class="input-group-btn">
                               <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                   <input type="text" class="form-control" readonly="">
                                       <span class="input-group-btn">
                                           <span class="btn btn-default btn-file waves-effect waves-classic">
                                               <i class="icon md-upload" aria-hidden="true"></i>
                                               <input type="file" id="inputFile" name="inputFile">
                                           </span>
                                       </span>
                               </div>
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default margin-0"
                                    data-dismiss="modal">{{ "Fermer" | trans }}</button>
                            <button type="submit" class="btn btn-primary">{{ "Envoyer" | trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Modal -->
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr style="border-bottom: 1px solid #f3f3f3;">
                                    <th style="border: none;padding-left: 20px;">{{ "filtre" | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;padding: 0px 20px;">
                                        <form id="myform" class="row" style="align-items: center;max-width: 1520px;"
                                              action="" method="get">
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Mot clé" | trans }}</label>
                                                <input type="text" class="form-control" name="keyword"
                                                       value="{{ keyword }}"
                                                       placeholder="...">
                                            </div>

                                            <div class="col-lg-9  col-md-9 col-xs-9 text-right">
                                                <button type="button" id="search" style="margin-top: 24px "
                                                        class="btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon md-search" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" id="export" style="margin-top: 24px "
                                                        class="btn btn-icon waves-effect waves-classic btn-bleu-background">
                                                    <i class="icon md-file-text" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </form>
                                        <script>
                                            $('#search').click(function () {
                                                $('#myform').attr('action', "{{ path('station_index') }}");
                                                document.getElementById("myform").submit();
                                            });
                                            $('#export').click(function () {
                                                $('#myform').attr('action', "{{ path('station_export') }}");
                                                document.getElementById("myform").submit();
                                            });
                                        </script>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
        <div class="page-content" style="padding-top: 0px ">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"
                     style="padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('errors') %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    <th style="padding-left: 20px;width: 10%">{{ 'Image'|trans }}</th>

                                    <th style="">{{ 'Nom'|trans }}</th>
                                    <th style="">{{ 'Adresse'|trans }}</th>
                                    <th style="">{{ 'Téléphone'|trans }}</th>
                                    <th style="">{{ 'Prestations'|trans }}</th>
                                    <th class="text-center">{{ 'Est Active ?'|trans }}</th>
                                    <th class="text-center"
                                        style="padding-right: 20px;width: 15%">{{ 'actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for station in stations %}
                                    <tr>
                                        <td style="padding-left: 20px;vertical-align: middle;">
                                            {% if station.image %}
                                                <img style="width: 100%;height: auto;"
                                                     src="{{ asset('uploads/images/') }}{{ station.image }}">
                                            {% endif %}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ station.name }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ station.address }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ station.tel }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {% for prestation_station in station.prestationStations %}
                                                {% if  prestation_station.prestation.isDeleted == false  %}
                                                    {% if prestation_station.prestation.icon %}
                                                        <img style="width: 24px;height: auto;"
                                                             src="{{ asset('uploads/images/') }}{{ prestation_station.prestation.icon }}">
                                                    {% endif %}
                                                    {{ prestation_station.prestation.name }}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td class="text-center" style="vertical-align: middle;">
                                            {% if station.isActive %}
                                                <i style="font-size: 20px;color: #66bb6a;" class="icon md-check"
                                                   aria-hidden="true"></i>
                                            {% else %}
                                                <i style="font-size: 20px;color: #f01235;" class="icon md-close"
                                                   aria-hidden="true"></i>

                                            {% endif %}

                                        </td>
                                        <td class="text-right"
                                            style="padding-right: 20px;min-width: 110px;vertical-align: middle;">
                                            <a href="{{ path('station_edit',{'keyword': keyword,'id':station.id}) }}"
                                               class="btn  waves-effect waves-classic md-edit btn-bleu"
                                               style="border: 1px solid;"></a>
                                            <button type="button"
                                                    data-toggle="modal" data-target="#centerModaldelete{{ station.id }}"
                                                    class="btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                    style="color: #f02038;border: 1px solid;"></button>

                                        </td>
                                    </tr>
                                    <div class="modal fade" id="centerModaldelete{{ station.id }}"
                                         aria-labelledby="centerModal"
                                         role="dialog"
                                         tabindex="-1">
                                        <div class="modal-dialog modal-primary modal-center modal-lg"
                                             style="width: 50%;">
                                            <div class="modal-content" style="height: 200px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"
                                                            style="margin: -12px -10px -15px auto;opacity: 1; ">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title">{{ 'Suppression Station'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <h4 class="modal-title">{{ 'Voulez vous supprimer cette station? '|trans }}</h4>
                                                        </div>

                                                        <div class="col-lg-12" style="padding-top: 40px;">
                                                            <a href="{{ path('station_delete',{'keyword': keyword,'id':station.id}) }}"
                                                               class="float-right btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                               style="color: #f02038;border: 1px solid;">
                                                                {{ 'Supprimer'|trans }}
                                                            </a>
                                                            <button type="button"
                                                                    class="float-left btn btn-md btn-default waves-effect waves-classic"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                {{ 'Annuler'|trans }}
                                                            </button>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}
                                    <tr>
                                        <td style="padding-left: 20px" colspan="7">{{ "noRecordsFound" | trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation" style="display: grid;place-items: end;padding-right: 10px;">
                                {{ knp_pagination_render(stations) }}
                            </div>
                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
