<div class="example-wrap">

    {{ form_start(form, {'attr': {'class': 'row'}}) }}
    {% if errors|length > 0 %}
        <div class="offset-lg-2 col-lg-6" style="padding-top: 20px;">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {% for error in errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-4">

        </div>
    {% endif %}


    <div class="offset-lg-2 col-lg-4" style="padding-top: 20px;">
        <label>{{ "Nom" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="col-lg-4" style="padding-top: 20px;">
        <label>{{ "Prenom" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-4">
        {{ form_widget(form.firstName ,{'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-lg-4">
        {{ form_widget(form.lastName ,{'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Email" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {% if user.email is empty %}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'value':""}}) }}
        {% else %}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {% endif %}
    </div>

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Mot de Passe" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'value':""}}) }}
        <i class="icon md-alert-circle" aria-hidden="true" style="color: #F01235;display: inline"></i>
        <p style="display: inline;font-size: 12px;">{{ 'Le mot de passe doit contenir au minimum 8 caractères dont au moins une lettre en majuscule, une lettre en minuscule et un chiffre'|trans }}</p>
    </div>

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Confirmer Mot de Passe" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'value': '' }}) }}
    </div>

    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Téléphone" | trans }}</label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.tel, {'attr': {'class': 'alert alert-danger alert-dismissible'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Code Sap" | trans }}</label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.codeSap, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.codeSap, {'attr': {'class': 'alert alert-danger alert-dismissible'}}) }}
    </div>
    <br><br>
    <div class="offset-lg-2 col-lg-10" style="padding-top: 20px;">
        <label>{{ "Station" | trans }}<span style="color: #ed1a3b">*</span></label>
    </div>
    <div class="offset-lg-2 col-lg-8">
        {{ form_widget(form.station, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.station, {'attr': {'class': 'alert alert-danger alert-dismissible'}}) }}
    </div>
    <br><br>
    <div class="col-lg-12" style="padding-top: 20px;">
        <div class="row row-lg">
            <div class="col-lg-2 text-left">
            </div>
            <div class="col-lg-8  ">
                <div class="checkbox-custom checkbox-primary center-block">
                    {{ form_widget(form.isActive, {'attr': {'class': 'form-control'}}) }}
                    <label for="inputChecked">{{ 'Est Active ?'|trans }}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center" style="padding-top: 20px;">
        <a href="{{ path('user_index') }}" type="button" style="margin-top: 3px;"
           class="float-left btn btn-md btn-default waves-effect waves-classic">
            <i class="icon md-arrow-left" aria-hidden="true"></i>
            {{ "Annuler" | trans }}
        </a>
        <button style="margin-top: 3px;" class="float-right btn btn-md social-evernote waves-effect waves-classic">
            {{ "Enregistrer" | trans }}
        </button>
    </div>
    {{ form_end(form) }}
    <br>
</div>
