

{% extends 'block/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('global/vendor/blueimp-file-upload/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('global/vendor/dropify/dropify.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>

{% endblock  %}
{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{{ "Modification Gérant"|trans }}</h1>
        </div>
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {{ include('user/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script>

        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
                autoclose: 'true',
                format: 'dd/mm/yyyy',
                startDate: new Date('01/01/1975'),
            });

            $("#user_tel").intlTelInput({
                nationalMode:false,
                preferredCountries: ["FR" ],
                autoPlaceholder:"polite",
            });


            jQuery(function($){
                var input = $('#user_tel')
                input.mobilePhoneNumber({allowPhoneWithoutPrefix:'+1'});// U.S.
                input.bind('country.mobilePhoneNumber',function(e, country) {
                    console.log(country)
                })


                if(input.val().length<=0){
                    input.val('+33');
                }

            });

        });
    </script>

{% endblock  %}

