{% extends 'block/layout.html.twig' %}

{% block page %}

    <div class="page">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-title"> {{ "Gestion des gérants" | trans }} </h1>
                </div>

                <div class="col-lg-6">
                    <a href="{{ path('user_new' , {'keyword': keyword }) }}"
                       class="float-right btn btn-sm social-evernote waves-effect waves-classic">
                        <i class="icon md-plus" aria-hidden="true"></i>{{ "Ajouter" | trans }}
                    </a>

                    <div class="media-body text-center float-right" style="padding-right: 25px;">
                        <h4 class="mt-0 mb-5"
                            style="color: #f02138;margin-bottom: 0px!important;"> {{ users.getTotalItemCount }}</h4>
                        <small style="">{{ "gérant(s)" | trans }}</small>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Modal -->
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr style="border-bottom: 1px solid #f3f3f3;">
                                    <th style="border: none;padding-left: 20px;">{{ "filtre" | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;padding: 0px 20px;">
                                        <form id="myform" class="row" style="align-items: center;max-width: 1520px;"
                                              action="" method="get">
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Mot clé" | trans }}</label>
                                                <input type="text" class="form-control" name="keyword"
                                                       value="{{ keyword }}" placeholder="...">
                                            </div>
                                            <div class="col-lg-3  col-md-3 col-xs-3">
                                                <label class="control-label">{{ "Station" | trans}}</label>
                                                <select class="form-control" name="station" >
                                                    <option value="" >{{ "choisir une station" | trans}}</option>
                                                    {% for item in stations %}
                                                        <option class="dropdown-item" value="{{  item.id }}"  {% if  item.id == station  %} selected  {% endif %}>
                                                            {{ item.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-6  col-md-6 col-xs-6 text-right">
                                                <button type="button" id="search" style="margin-top: 24px "
                                                        class="btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon md-search" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" id="export" style="margin-top: 24px "
                                                        class="btn btn-icon waves-effect waves-classic btn-bleu-background">
                                                    <i class="icon md-file-text" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </form>
                                        <script>
                                            $('#search').click(function () {
                                                $('#myform').attr('action', "{{ path('user_index') }}");
                                                document.getElementById("myform").submit();
                                            });
                                            $('#export').click(function () {
                                                $('#myform').attr('action', "{{ path('user_export') }}");
                                                document.getElementById("myform").submit();
                                            });
                                        </script>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
        <div class="page-content" style="padding-top: 0px ">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"
                     style="padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    <th style="padding-left: 20px;">{{ 'Nom'|trans }}</th>
                                    <th style="">{{ 'Email'|trans }}</th>
                                    <th style="">{{ 'Téléphone'|trans }}</th>
                                    <th style="">{{ 'Code Sap'|trans }}</th>
                                    <th style="">{{ 'Station'|trans }}</th>
                                    <th class="text-center"
                                        style="padding-right: 20px;width: 15%">{{ 'actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>

                                        <td style="padding-left: 20px;vertical-align: middle;">
                                            {{ user.username }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ user.email }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ user.tel }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ user.codeSap|default('') }}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{ user.station.name }}
                                        </td>
                                        <td class="text-right"
                                            style="padding-right: 20px;min-width: 110px;vertical-align: middle;">
                                            <a href="{{ path('user_edit',{'keyword': keyword,'id':user.id}) }}"
                                               class="btn  waves-effect waves-classic md-edit btn-bleu"
                                               style="border: 1px solid;"></a>
                                            <button type="button"
                                                    data-toggle="modal" data-target="#centerModaldelete{{ user.id }}"
                                                    class="btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                    style="color: #f02038;border: 1px solid;"></button>

                                        </td>
                                    </tr>
                                    <div class="modal fade" id="centerModaldelete{{ user.id }}"
                                         aria-labelledby="centerModal" role="dialog"
                                         tabindex="-1">
                                        <div class="modal-dialog modal-primary modal-center modal-lg"
                                             style="width: 50%;">
                                            <div class="modal-content" style="height: 200px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"
                                                            style="margin: -12px -10px -15px auto;opacity: 1; ">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title">{{ 'Suppression Gérant'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <h4 class="modal-title">{{ 'Voulez vous supprimer ce gérant? '|trans }}</h4>
                                                        </div>

                                                        <div class="col-lg-12" style="padding-top: 40px;">
                                                            <a href="{{ path('user_delete',{'keyword': keyword,'id':user.id}) }}"
                                                               class="float-right btn  btn-pure btn-danger  md-delete waves-effect waves-classic"
                                                               style="color: #f02038;border: 1px solid;">
                                                                {{ 'Supprimer'|trans }}
                                                            </a>
                                                            <button type="button"
                                                                    class="float-left btn btn-md btn-default waves-effect waves-classic"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                {{ 'Annuler'|trans }}
                                                            </button>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}
                                    <tr>
                                        <td style="padding-left: 20px" colspan="7">{{ "noRecordsFound" | trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation" style="display: grid;place-items: end;padding-right: 10px;">
                                {{ knp_pagination_render(users) }}
                            </div>
                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



